* {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0px;
  color: #5f6368;
}
table {background-color: #a3a3a3;}
table,td {border:1px solid  #5f6368;margin:0;color:#000;}
table {width:80%;margin:0 auto;}
pre{background-color: #111;color:yellow;margin:30px;padding:20px;font-size:11px;}
