<template>
    <div>
        <v-container fluid class="bg-gray">
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12 class="compact">
                        <site-search-block></site-search-block>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-container>
         <v-container fluid class="main">
        <v-container >
            <v-layout row wrap>
                <v-flex xs12 md4 lg3>
                    <site-sidebar active="Здравпродукт"></site-sidebar>
                </v-flex>
                <v-flex xs12 md8 lg9 text-xs-left>
                    <h3 class="headset">О проекте</h3>
                	 <v-card flat>
                    <v-toolbar dense flat class="breadcrumps">
                        <v-toolbar-title>
                            <span v-for="(item, index) in breadcrumps" :key="index">
                                <span v-if="item.href">
                                    <nuxt-link :to="item.href">{{item.name}}
                                    </nuxt-link>
                                    <v-icon>keyboard_arrow_right
                                    </v-icon>
                                </span>
                                <span v-else>{{item.name}}
                                </span>
                            </span>
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                    	 
                    <p><b>Здравпродукт</b> - единственная в своём роде система поиска и подбора здравниц и реабилитационных центров, основанная на разработках Всемирной Организации Здравоохранения (ВОЗ) и самых передовых IT-технологиях.</p>
                    <p><b>Здравпродукт</b> - это глобальная мировая площадка, где пациенты из любого уголка планеты могут выбрать любой из более чем 500 тщательно отобранных здравниц из 50 с лишним стран мира, получив при этом максимально подробную информацию о необходимом лечении.</p>
                    <p>Вам нужна информация по какому-либо заболеванию или методу лечения?</p>
                    <p>Просто начните вводить интересующее название в строку поиска, а он сам подскажет вам правильное наименование.</p>
                    <p>Интересует какой-либо курортный регион или непосредственное место отдыха?
                        Так же вводите его название - а умная система Вам поможет в этом.</p>
                    <p><b>Здравпродукт</b> даст полную официальную информацию о заболеваниях, расскажет подробно о самых эффективных методах лечения и даст необходимые консультации врачей. А главное - подскажет куда поехать на лечение и поможет с выбором направления по интересующим Вас параметрам.</p>
                    <p><b>Здравпродукт</b> основывается на научной базе и компетенциях ведущих российских и мировых НИИ в сфере курортологии и оздоровления. Вам всегда готовы помочь профессиональным советом штатные врачи-курортологи, а также лечащие врачи отдельных здравниц и реабилитационных центров.</p>
                    <p>Наша отдельная гордость - собственная служба поддержки, в которую Вы можете обратиться с любым вопросом как до поездки, так в ходе и после неё.</p>
                    <p><b>Здравпродукт</b> - это Надежно, Полезно и Выгодно!</p>
                    <youtube video-id="lWOEWMbWDZ0" ref="youtube" :player-vars="playerVars" style="width:100%"></youtube>
                    <h3>Врачам</h3>
                    <p><b>Здравпродукт</b> - это отличный и очень удобный инструмент для лечащих врачей в больницах, поликлиниках и медцентрах. С нашей помощью Вы быстро подберёте надежное и максимально эффективное место реабилитации для своих пациентов.</p>
                    <v-btn depressed color="success" @click="orderasobject">Написать нам</v-btn>
                    <h3>Здравницам</h3>
                    <p><b>Здравпродукт</b> позволит вам:</p>
                    <ul>
                        <li>Увеличить загрузку в межсезонье</li>
                        <li>Получить лучших гостей</li>
                        <li>Реализовать собственные специальные программы</li>
                        <li>Повысить показатели работы</li>
                    </ul>
                     <v-btn depressed color="success" @click="orderasobject">Написать нам</v-btn>
                  </v-card-text>
                </v-card>
                </v-flex>
            </v-layout>
        </v-container>
      </v-container>
    </div>
</template>
<script>
import siteSidebar from '~/components/siteSidebar.vue';
import siteSearchBlock from '~/components/siteSearchBlock.vue';
export default {
    components: { siteSidebar, siteSearchBlock },
    data() {

        return {
playerVars :{
	rel: 0,
	controls: 0
},
            breadcrumps: [{
                    name: 'Главная',
                    href: '/'
                },
         
                {
                    name: 'Здравпродукт',
                }
            ]
        }
    },

    methods: {
        orderasobject() {


            this.$root.$emit('popup',{mode:'object'})

        }


    }
}
</script>