<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs4>
                <v-card>
                    <v-card-text>
                        <v-list>
                            <template v-for="(item, index) in items">
                                <v-divider v-if="item.divider" :inset="item.inset" :key="index"></v-divider>
                                <v-list-tile v-else :key="item.title" avatar @click="item.href">
                                    <v-list-tile-content>
                                        <v-list-tile-title>{{item.title}}</v-list-tile-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                            </template>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs8>
                <v-card>
                    <v-card-text>
                        <template>
                            <div>
                                <v-breadcrumbs divider="/">
                                    <v-breadcrumbs-item v-for="item in pathitems" :key="item.text" :disabled="item.disabled">
                                        {{ item.text }}
                                    </v-breadcrumbs-item>
                                </v-breadcrumbs>
                            </div>
                        </template>
                        Категория: {{ $route.params.category }}<br>
                        Раздел: {{ $route.params.article }}<br>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
export default {
    data() {
        return {

            pathitems: [{
                    text: 'Dashboard',
                    disabled: false
                },
                {
                    text: 'Link 1',
                    disabled: false
                },
                {
                    text: 'Link 2',
                    disabled: true
                }
            ],


            items: [

                {
                    href: '#',
                    title: 'Раздел',

                },
                {
                    href: '#',
                    title: 'Раздел',

                },
                { divider: true, inset: true },
                {
                    href: '#',
                    title: 'Раздел',

                }
            ]
        }
    }
}
</script>