<template>
    <v-container text-xs-center fluid style="background:#fff">
        <div v-swiper:mySwiper="swiperOption">
            <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="banner in banners[respath]" :key="banner.id">
                    <img :src="banner.src" style="width:100%;max-width:1500px;">
                </div>
                </div>
            </div>
            <v-container text-xs-center fluid style="position: relative;margin-top:-125px;padding-bottom:10px;z-index:10;overflow: hidden;">
                <v-container>
                    <site-search-block></site-search-block>
                </v-container>
                <v-container text-xs-center fluid style="background:#f2f2f2;padding:20px 0 20px 0">
                    <v-container>
                        <v-card flat>
                            <v-card-text>
                                <v-layout row wrap>
                                    <v-flex lg10 md12 sm12>
                                        <v-layout row wrap>
                                            <v-flex lg6 md12 sm12>
                                                <h4>Как работает <span class="greentext">ЗдравПродукт:</span></h4>
                                                <dl class="ordered">
                                                    <dt>Просто введите в строку поиска название заболевания, процедуры, метода лечения или медпрофиля (можно вводить и место желаемой поездки на лечение) - а умный поиск сам подскажет правильное написание.</dt>
                                                    <dd></dd>
                                                    <dt>Узнайте из выдачи поиска полную информацию о заболевании и методах её эффективного лечения.</dt>
                                                    <dd></dd>
                                                    <dt>Там же Вы узнаете где это лечат лучше или дешевле всего (или ближе всего к Вашему дому), а также, был ли там уже кто-то из Ваших друзей.</dt>
                                                    <dd></dd>
                                                    <dt>Принимайте решение и бронируйте путевку на лучших индивидуальных условиях.</dt>
                                                    <dd></dd>
                                                </dl>
                                            </v-flex>
                                            <v-flex lg6 md12 vidframe>
                                                <youtube video-id="lWOEWMbWDZ0" ref="youtube" :player-vars="playerVars" style="width:100%"></youtube>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                    <!-- БАННЕР СПРАВА-->
                                    <v-flex md2>
                                        <iframe @click="console.log('cc')" width="190" height="350" src="http://client.zdravproduct.com/static/zdorovkin/zd.html" frameborder="0"></iframe>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                        </v-card>
                        <v-layout row wrap class="features">
                            <v-flex md4 sm12>
                                <div class="feature bg-blue">
                                    <h4 class="background"><span class="bg-blue">Это полезно</span></h4>
                                    <p>Здесь собраны здравницы и реабилитационные центры высокого уровня, с собственными методами лечения и оздоровления, либо расположенные на уникальных целебных источниках.
                                        <br>По каждому вопросу консультируют врачи-курортологи, и помогает профессиональная служба поддержки
                                        <br>Всё это - залог скорейшего выздоровления!</p>
                                </div>
                            </v-flex>
                            <!-- 2 -->
                            <v-flex md4 sm12>
                                <div class="feature bg-green">
                                    <h4 class="background"><span class="bg-green">Это надежно</span></h4>
                                    <p>Здравпродукт - единственная в своём роде система поиска по заболеваниям, методам лечения и правильному подбору путевки.
                                        <br>Все здравницы и реабилитационные центры проходят предварительную тщательную проверку и отбор специалистами и врачами Здравпродукта.
                                        <br>Прямые консультации врачей-курортологов и терапевтов напрямую из санаториев.</p>
                                </div>
                            </v-flex>
                            <!-- 3 -->
                            <v-flex md4 sm12>
                                <div class="feature bg-orange">
                                    <h4 class="background"><span class="bg-orange">Это выгодно</span></h4>
                                    <p>Со Здравпродуктом Вы отправляетесь туда, где точно будет комфортно и целебно - а значит тратите каждый рубль с умом.
                                        <br>Пока другие катаются на отдых по-старинке, именно Вы действительно получаете больше за меньшие деньги!
                                        <br>Для Вас доступны: честные цены, оплата на месте, акции и спецпредложения, бонусы и подарки, и многое другое...</p>
                                </div>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap class="calc">
                            <!-- 1 -->
                            <v-flex md4 sm12 class="item item-1">
                                <div class="tick-wrap">
                                    <div class="tick">35</div>
                                    <div class="label">Здравниц</div>
                                </div>
                                <img src="/images/zdrav.png">
                    </v-flex>
                                <!-- 2 -->
                                <v-flex md4 sm12 class="item item-2">
                                    <div class="tick-wrap">
                                        <div class="tick">148</div>
                                        <div class="label">Регионов</div>
                                    </div>
                                    <img src="/images/reg.png">
                    </v-flex>
                                    <!-- 3 -->
                                    <v-flex md4 sm12 class="item item-3">
                                        <div class="tick-wrap">
                                            <div class="tick">301</div>
                                            <div class="label">Вид
                                                <br>процедур</div>
                                        </div>
                                        <img src="/images/proc.png">
                    </v-flex>
                        </v-layout>
                    </v-container>
                </v-container>
                <v-container>
                    <v-layout row wrap class="about">
                        <!-- 1 -->
                        <v-flex lg4 md4 sm12>
                            <v-card nuxt to="/reviews" flat>
                                <v-img src="/images/contact-1.svg" height="120px" contain></v-img>
                                <v-card-title primary-title>
                                    <div class="center">
                                        <h3 class="headline">Нас рекомендуют</h3>
                                        <div>Что говорят те, кто попробовал и воспользовался Здравпродуктом?</div>
                                    </div>
                                </v-card-title>
                            </v-card>
                        </v-flex>
                        <!-- 2 -->
                        <v-flex lg4 md4 sm12>
                            <v-card nuxt to="/reviews" flat>
                                <v-img src="/images/contact-2.svg" height="120px" contain></v-img>
                                <v-card-title primary-title>
                                    <div class="center">
                                        <h3 class="headline">О нас пишут</h3>
                                        <div>Что и почему говорят о нас профессионалы?</div>
                                    </div>
                                </v-card-title>
                            </v-card>
                        </v-flex>
                        <!-- 3 -->
                        <v-flex lg4 md4 sm12>
                            <v-card nuxt to="/reviews" flat>
                                <v-img src="/images/contact-3.svg" height="120px" contain></v-img>
                                <v-card-title primary-title>
                                    <div class="center">
                                        <h3 class="headline">Нас спрашивают</h3>
                                        <div>Отвечаем на все важные вопросы!</div>
                                    </div>
                                </v-card-title>
                            </v-card>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs12 sm12 md4 lg4 class="previewsobj" text-xs-left>
                            <h3>Подбор здравницы</h3>
                            <v-tabs>
                                <v-tabs-slider></v-tabs-slider>
                                <v-tab href="#tab0"> По акции </v-tab>
                                <v-tab href="#tab1"> Недорого </v-tab>
                                <v-tab href="#tab2"> Популярные </v-tab>
                                <v-tab href="#tab3"> Рядом </v-tab>
                                <v-tabs-items>
                                    <v-tab-item id="tab0">
                                        <v-list three-line>
                                            <v-list-tile avatar v-for="(item, index) in object1preview" :key="index" @click="gotourl('/')">
                                                <img :src="item.preview" class="preview">
                                                <v-list-tile-content>
                                                    <v-rating half-increments v-model="item.rating" readonly color="yellow" background-color="#b7b7b7"></v-rating>
                                                    <v-list-tile-title v-html="item.title"></v-list-tile-title>
                                                    <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>
                                        </v-list>
                                    </v-tab-item>
                                    <v-tab-item id="tab1">
                                        <v-list three-line>
                                            <v-list-tile avatar v-for="(item, index) in object2preview" :key="index" @click="gotourl('/')">
                                                <img :src="item.preview" class="preview">
                                                <v-list-tile-content>
                                                    <v-rating half-increments v-model="item.rating" readonly color="yellow" background-color="#b7b7b7"></v-rating>
                                                    <v-list-tile-title v-html="item.title"></v-list-tile-title>
                                                    <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>
                                        </v-list>
                                    </v-tab-item>
                                    <v-tab-item id="tab2">
                                        <v-list three-line>
                                            <v-list-tile avatar v-for="(item, index) in object3preview" :key="index" @click="gotourl('/')">
                                                <img :src="item.preview" class="preview">
                                                <v-list-tile-content>
                                                    <v-rating half-increments v-model="item.rating" readonly color="yellow" background-color="#b7b7b7"></v-rating>
                                                    <v-list-tile-title v-html="item.title"></v-list-tile-title>
                                                    <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>
                                        </v-list>
                                    </v-tab-item>
                                    <v-tab-item id="tab3">
                                        <v-list three-line>
                                            <v-list-tile avatar v-for="(item, index) in object4preview" :key="index" @click="gotourl('/')">
                                                <img :src="item.preview" class="preview">
                                                <v-list-tile-content>
                                                    <v-rating half-increments v-model="item.rating" readonly color="yellow" background-color="#b7b7b7"></v-rating>
                                                    <v-list-tile-title v-html="item.title"></v-list-tile-title>
                                                    <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </v-list-tile>
                                        </v-list>
                                    </v-tab-item>
                                </v-tabs-items>
                            </v-tabs>
                            <nuxt-link to="/">Смотреть ещё</nuxt-link>
                        </v-flex>
                        <v-flex xs12 sm12 md8 lg8 text-xs-left class="news">
                            <h3>Новости</h3>
                            <v-layout row wrap>
                                <v-flex xs12 sm6 md6 lg6 class="item" v-for="(item,index) in newslist" :key="index">
                                    <v-card flat nuxt :to="item.src">
                                        <v-card-title>
                                            <div>
                                                <span class="date">{{item.date}}</span>
                                                <br>
                                                <span class="title">{{item.title}}</span>
                                                <br>
                                                <span class="text">{{item.description}}</span>
                                            </div>
                                        </v-card-title>
                                        <v-card-actions>
                                            <v-btn dark depressed color="#31C5C9">
                                                <v-icon>trending_flat</v-icon>
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                            <nuxt-link to="/company/news/">Хотите ещё?</nuxt-link>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-container>
    </v-container>
</template>
<script>
import siteSearchBlock from '~/components/siteSearchBlock.vue'



export default {

    components: {
        siteSearchBlock
    },

    data() {
        return {

            respath: 'x1500',
            playerVars: {
                rel: 0,
                controls: 0
            },
            swiperOption: {

                loop: true,
                slidesPerView: 1,
                centeredSlides: true,
                autoplay: {
                    delay: 10000,
                },
                effect: 'cube'

            },
            banners: {
                'x1500': [
                    { id: 1, src: '/images/slider/1500x500/1.jpg' },
                    { id: 2, src: '/images/slider/1500x500/2.jpg' },
                    { id: 3, src: '/images/slider/1500x500/3.jpg' },
                    { id: 4, src: '/images/slider/1500x500/4.jpg' },
                    { id: 5, src: '/images/slider/1500x500/5.jpg' },
                    { id: 6, src: '/images/slider/1500x500/6.jpg' },
                    { id: 7, src: '/images/slider/1500x500/7.jpg' },
                    { id: 8, src: '/images/slider/1500x500/8.jpg' },
                    { id: 9, src: '/images/slider/1500x500/9.jpg' },
                    { id: 10, src: '/images/slider/1500x500/10.jpg' }
                ],
                'x1366': [
                    { id: 1, src: '/images/slider/1366x460/1.jpg' },
                    { id: 2, src: '/images/slider/1366x460/2.jpg' },
                    { id: 3, src: '/images/slider/1366x460/3.jpg' },
                    { id: 4, src: '/images/slider/1366x460/4.jpg' },
                    { id: 5, src: '/images/slider/1366x460/5.jpg' },
                    { id: 6, src: '/images/slider/1366x460/6.jpg' },
                    { id: 7, src: '/images/slider/1366x460/7.jpg' },
                    { id: 8, src: '/images/slider/1366x460/8.jpg' },
                    { id: 9, src: '/images/slider/1366x460/9.jpg' },
                    { id: 10, src: '/images/slider/1366x460/10.jpg' }
                ]
            },


            newslist: [
                { src: "/", date: "18.04.2019", title: "Как пользоваться Здравпродуктом?", description: "Теперь вы можете каждый день узнавать об интереснейших местах лечения и оздоровления по всему миру из нашей страницы «Места, которые лечат» из нашей страницы в социальной сети!" },
                { src: "/", date: "18.04.2019", title: "Как пользоваться Здравпродуктом?", description: "Теперь вы можете каждый день узнавать об интереснейших местах лечения и оздоровления по всему миру из нашей страницы «Места, которые лечат» из нашей страницы в социальной сети!" },
                { src: "/", date: "18.04.2019", title: "Как пользоваться Здравпродуктом?", description: "Теперь вы можете каждый день узнавать об интереснейших местах лечения и оздоровления по всему миру из нашей страницы «Места, которые лечат» из нашей страницы в социальной сети!" },
                { src: "/", date: "18.04.2019", title: "Как пользоваться Здравпродуктом?", description: "Теперь вы можете каждый день узнавать об интереснейших местах лечения и оздоровления по всему миру из нашей страницы «Места, которые лечат» из нашей страницы в социальной сети!" }
            ],


            object1preview: [

                {
                    rating: 3,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин" самый лучши санаторий',
                    subtitle: "Сочи, Россия"
                },

                {
                    rating: 3.5,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                },

                {
                    rating: 4,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                },

                {
                    rating: 2.5,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                }
            ],
            object2preview: [

                {
                    rating: 3,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                },

                {
                    rating: 3.5,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                },

                {
                    rating: 4,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                },

                {
                    rating: 2.5,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                }
            ],
            object3preview: [

                {
                    rating: 3,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                },

                {
                    rating: 3.5,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                },

                {
                    rating: 4,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                },

                {
                    rating: 2.5,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                }
            ],
            object4preview: [

                {
                    rating: 3,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                },

                {
                    rating: 3.5,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                },

                {
                    rating: 4,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                },

                {
                    rating: 2.5,
                    preview: '/images/objects/thumbs/test.jpg',
                    title: 'Санаторий "Аквамарин"',
                    subtitle: "Сочи, Россия"
                }
            ]
        }

    },
    methods: {
        winControl(e) {
            var w = window.innerWidth;
            if (w >= 1500) this.respath = 'x1500';
            if (w < 1500) this.respath = 'x1366';


        },
        gotourl(url) {;

        }

    },
    mounted() {
        var w = window.innerWidth;
        if (w > 1366) this.respath = 'x1500';
        if (w <= 1366) this.respath = 'x1366';

        window.addEventListener('resize', this.winControl);

        // this.mySwiper.slideTo(Math.random()*this.banners.length)
    }


}
</script>