<template>
    <section class="container">
        <v-flex xs12>
            <v-card>
                <v-toolbar>
                    <v-toolbar-title>Вход в личный кабинет {{this.$auth.$state}}</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon dark @click.native="signin = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-text>
                    <v-form>
                        <v-text-field prepend-icon="person" name="login" v-model="user.username" label="Ваш email" type="text"></v-text-field>
                        <v-text-field prepend-icon="lock" name="password" label="Ваш пароль" v-model="user.password" type="password"></v-text-field>
                        <v-layout row wrap>
                            <v-flex xs6>
                                <v-checkbox value="1" label="Запомнить меня" data-vv-name="checkbox" type="checkbox" required></v-checkbox>
                            </v-flex>
                            <v-flex xs6>
                                <a href="#" class="blocklink text-xs-right">Я забыл пароль</a> </v-flex>
                        </v-layout>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="signin = false">У меня еще нет кабинета</v-btn>
                    <v-btn color="secondary" @click="passwordGrantLogin">Войти в личный кабинет</v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </section>
</template>
<script>
export default {



    data() {
        return {

            user: {
                username: "admin@admin.com",
                password: "admin"
            }
        };
    },
    methods: {
        async passwordGrantLogin() {
           try {

      await this.$auth.loginWith("password_grant", {
        data: {
          grant_type: "password",
          client_id: process.env.PASSPORT_PASSWORD_GRANT_ID,
          client_secret: process.env.PASSPORT_PASSWORD_GRANT_SECRET,
          scope: "*",
          username: this.user.username,
          password: this.user.password
        }
      });

  }catch(e) {
 //console.log(e)
  }


        }
    }
}
</script>
<style scoped>
div {
    margin: 10px 0;
}
</style>