html, body, p, span, div, h1, h2, h3, h4, h5, h6, a, textarea, input {
    font-size: 100%;
    font-family: 'Roboto', sans-serif!important;
}

.v-icon {}
h3 {
    font-size: 1.75rem;font-weight: normal;}
.v-text-field--box .v-input__slot {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.searchbar {
    background-color: rgba(0, 0, 0, 0.5)!important;
}

.searchbar .v-text-field.v-text-field--enclosed {
    background: #fff url('/images/search_logo.png')no-repeat right!important;
    border:1px solid #e5e5e5;
}

.news_block h3{color:#68b436;    font-size: 1.2rem;}
.news_block h3 a{color:#68b436;   }
.news_block p{color:#aaa;}
.news_block b{font-size: .8rem;}
.news_block a.more{float:right;color:orange!important;}

.searchbar .v-input__control {
    height: 57px;
}

.searchbar .v-text-field__details {

    display: none;
}
p {text-align:justify;}
.searchbar .v-text-field.v-text-field--enclosed .v-text-field__details, .v-text-field.v-text-field--enclosed .v-input__slot {
    padding: 0 78px 0px 12px;
}
.main{margin-top:4px;padding:10px auto 10px auto;background:#fff;}

.compact .searchbar {
   background-color: transparent!important;
}
.compact .searchbar .v-card__text{
padding: 2px 0 0 0!important;

}

.features{
    margin-top:30px;
}
.feature{
    padding: 15px 0;
    min-height: 200px;
    height:100%;
    font-size:14px;
}
.bg-white{ background-color: #ffffff;}
.bg-blue{ background-color: #31C5C9; }
.bg-green{ background-color: #B4D36A; }
.bg-orange{ background-color: #F2BD77; }
.bg-gray{background-color: #d8d8d8;}
.features h4.background{
    text-align:center;
    position:relative;
    z-index:0;
}
.features h4.background:before {
    border-top: 1px solid #fff;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
.features h4.background span {
    padding: 0 15px;
    box-sizing:border-box;
}
.features .feature p {
    padding: 0 15px;
    white-space: pre-wrap;
    text-align: left;
}
.features h4 {
    color: #ffffff;
    font-weight: bold;
}
.features .flex{padding:20px 10px!important;}
.features .flex:first-child{padding-left:4px!important;}
.features .flex:last-child{padding-right:4px!important;}
.previewsobj .v-list{margin:20px 0;}
.item-1 .tick-wrap {left:-100px;}
.tick-wrap {
    height: 0;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: end;
    justify-content: flex-end;
    top: 22px;
    font-weight:bold;
}
.tick-wrap .tick {
    line-height: 1;
    font-family: Roboto Slab,sans-serif;
}

.tick {
    font-size: 78px;
    color: #4d4d4d;
    font-weight: 900;
}
.tick-wrap .label {
    font-size: 21px;
    color: #4d4d4d;
    line-height: 1;
    margin: 10px 5px 0;
    text-align: left;
}
.item-2 .tick-wrap {
    margin: 0 auto;
    text-align: center;
    padding-right: 70px;
}
.item-3 .tick-wrap {
    margin-left: -110px;
    padding-right: 45px;
}
.calc .item {
    padding-bottom: 40px!important;
    padding-top: 40px!important;
    text-align:center;
}
.news .item  {
    margin-bottom: 0;
    font-size: .9rem;
}
.news{border-left:1px solid #ccc;padding-left:20px!important;box-sizing: border-box;}
.news .title{font-size:.9rem!important;font-weight:bold;}
.news .text{margin-top:20px!important;display: block;}
img.preview{margin:5px 10px 7px 0;}

.about a {

text-decoration: none;
color:#000;
}
.about a:hover {

text-decoration: underline;

}
.about{
    background-color: #ffffff;
    text-align: center;
    padding: 60px 0;
    margin-top: 0!important;
}
.about img {
    width: 120px;
}
h4 {
    font-size: 1.5rem;
    font-weight: normal
}

.greentext {
    color: #3aaf43;
}

dd, dt {
    font-size: .9rem;
}

.vidframe {
    min-height: 300px;
}

.vidframe iframe {
    height: 100%;
    width: 100%;
}

.ordered {
    text-align: left;
}

.ordered {
    counter-reset: my-badass-counter;
}

.ordered dt {
    position: relative;

    padding: 0;
}

.ordered dt:before {
    content: counter(my-badass-counter);
    counter-increment: my-badass-counter;
    position: absolute;
    left: 0;
    top: 0;
    color: #8cc63f;
    ;
    font-size: 1.75rem;
}

.ordered dd {
    margin: 0 0 21px 0;
}

.ordered dt, .ordered dd {
    padding-left: 50px;
}


.vicon {
    display: block;
    left: inherit!important;
    top: inherit!important
}

.v-speed-dial {
    position: relative;
    width: 56px;
    display: inline-block;
    z-index: 99;
}

.v-btn--floating {
    position: relative;
}


.v-btn {
    font-size: .9rem;
}
.breadcrumps{font-size: 1.0rem; color:orange;    font-weight: normal;
    text-decoration: none;}

.breadcrumps a{font-size: 1.0rem; color:orange;    font-weight: bold;
    text-decoration: none;}

.breadcrumbs .v-toolbar--dense .v-icon {
    font-size: 1.4em!important;
}


.headset {color:#68b436!important;margin-bottom:20px;    margin-left: 15px;}
.nuxt-link-active {
    text-decoration: none;
    font-size: inherit;
 
}
.footernav .nuxt-link-exact-active{
   color:#68b436!important;

}
.orderit {
    text-transform: none!important;
    font-weight: normal;
        padding: 0 12px!important;
}

.container.grid-list-md .layout .previewsobj {
    padding:0px
}


.optmode{    width: 123px;
  
    float: right;}

.socmode{width: 123px;
  
    float: right;}


ul.social,ul.socialbottom {
    margin: 11px 0px 0px 0px;
    padding: 0;
    display: inline-block;
}

ul.social li {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0px;
}
ul.socialbottom li {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 3px;
}
ul.social li a {
    width: 100%;
    height: 100%;

    font-size: 0.9rem;
    list-style-type: none;
    display: inline-block;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 90px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding-top: 9px;
}

ul.social li a:hover {
    background: rgba(0, 0, 0, 0.4);
}
.fa-lg {
  
    vertical-align: 0px!important;
}

ul.socialbottom li a {
    width: 100%;
    height: 100%;
    color:#fff;
    font-size: 14px;
    list-style-type: none;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 90px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all .2s ease-in-out;
    padding-top: 9px;
}

ul.socialbottom li a:hover {
    background: rgba(255, 255, 255, 0.4);
}

ul.social a {
   
}
.center{margin:0 auto;}
a.v-card:hover{text-decoration: none!important;}

.imagelist li {
    width: 180px;
    height: 181px!important;
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.imagelist .el-upload-list--picture .el-upload-list__item-thumbnail {
    border-radius: 4px;
    float: none!important;
    height: auto!important;
    max-height: 139px!important;
    margin: 0!important;
    width: auto!important;
    max-width: 139px;
}

.imagelist .el-upload-list--picture .el-upload-list__item {
    padding: 20px;
}

.imagelist .el-upload-list--picture .el-upload-list__item.is-success .el-upload-list__item-name {
    line-height: 40px!important;
    position: absolute;
    border-radius: 4px;
    top: 140px;
    width: 139px;
    z-index: 99;
    display: block;
    background: rgba(255, 255, 255, 0.8);
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.imagelist .el-upload-list--picture .el-upload-list__item.is-success .el-upload-list__item-name:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.imagelist .el-upload-list__item-name {
    margin: 0!important;
    padding: 0!important;
    text-align: center;
}

.v-toolbar--dense div {
    height: 25px!important;
    font-size: 0.96em;
}



.el-upload-list--picture-card .el-upload-list__item-thumbnail {
    width: auto!important;
    margin: 0 auto;
    display: block;
}


.v-toolbar__title, .el-upload-list--picture, .el-button, .v-list__tile, .el-message-box__title, .el-message-box__content, .el-input {
    font-size: 1em;
    font-weight: 300;
}

.v-list__tile__sub-title, .v-label, .el-form-item__label, label {
    font-size: 1em;
    font-weight: 400;
    color: rgba(0, 0, 0, .54)!important;
}

.v-chip {
    font-size: 1em;
}

.el-rate__icon {
    line-height: 0.5;
    font-size: 32px!important;
}













/* Custom styling */

.container {
    padding: 0px;
}

.breadcrumps {
  background-color: #fff!important;
    color: orange!important;
}

.theme--light .v-toolbar, .application .theme--light.v-toolbar  {
  background-color: #68b436;
    color: #fff;
}


.theme--light.v-text-field--box .v-input__slot {
    background: rgba(0,0,0,0)!important;
}
.el-button--primary {
    margin: 6px 8px;
}

.secondary {
    background-color: #F7931E !important;
    border-color: #F7931E !important;
}

.blocklink {
    display: block!important;
    text-decoration: underline!important;
    font-size:1rem!important;
/*padding-top: 20px;*/
}

.v-toolbar__content {
    height: 44px
}

.el-transfer-panel {
    width: 40%!important
}

.el-form-item__label {

    text-align: left!important;

    height: 20px!important;
    line-height: 20px!important;
}


.v-list {
    padding: 0!important;
}

.green {
    background-color: #68b436!important;
}
.bottomheader{

 padding: 10px 10px 15px 10px;

}
.bottomheader .social,.bottomheader .el-switch  {margin:0!important;}
.verticalhr{border-left:1px solid #fff;display: inline-block;height: 20px;}

.el-upload-list--picture .el-upload-list__item-status-label {
    background-color: #68b436!important;
}

.header .logobox img {
margin: 13px 0 13px 13px;
    box-sizing: border-box;
}

.header .el-switch__label.is-active {
    color: #FFF;
}

.header .el-switch__label--right span {
    font-size: 180%!important;
    margin-top: -2px;
}
.defab {color: transparent!important;}
.defab:before {opacity: 0!important}
.v-rating .v-icon {

    padding: 0!important;
  }

.previewsobj .v-list__tile__title {

    font-size: .9rem;
    font-weight: bold;
}
.previewsobj .v-list__tile{
padding: 0!important;

}

.header .v-divider {
    background-color: #fff!important;
    margin: 9px auto 3px auto;
    width: 101px;
}

.header {
  max-height:120px;
}

.header a {
    color: #fff;
}

.header .v-icon {
    color: #fff;
}

.header .v-list {
    background-color: transparent;
}

.header .v-list div a:hover {
    background-color: transparent!important;
}

.header .v-list__tile__action {
    min-width: 37px;
}

.header .v-list__tile {
    height: 30px;
}


img.ddlan {
    display: block;
    width: 20px;
    height: 20px;
}

img.aclan {

    top: inherit!important;
}
.text-small {font-size:.7rem!important;}
.v-btn.orderit:not(.v-btn--depressed) {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    background-color: transparent!important;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    height: 40px;
}
.v-btn.orderitnonbtn:not(.v-btn--depressed) {
 border: none;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    background-color: transparent!important;
    color: #fff;
    text-transform: none;
    padding:0;
    margin:0;
    font-weight: normal;

}
.v-btn.orderitnonbtn:not(.v-btn--depressed):before {
opacity: 0;
    }

.header .el-button--text {
    color: #fff;
    text-decoration: underline;
}

.sidebarnav {
    background-color: #00bdff!important;
    color: #fff!important;
}

.sidebarnav a:hover {
    background-color: #0090ff!important;
}

.v-list__tile--active {
    background-color: #68b436!important;
    color: #fff!important;
    ;
}

.sidebarnav .v-icon {
    color: #fff!important;
}

.v-content {
    padding: 0px 0px 0px!important;
    min-height: 75vh!important;
}

.v-content .v-toolbar a {
    color: #fff;
}

.el-switch {
    margin-top: 10px;
}

.v-footer {
    background-color: #333!important;
    display: block!important;
    height: auto!important;
    min-height: auto!important;
}

.v-footer .footernav {
    text-align: center;
    padding-top: 22px;
}

.v-footer .footernav a {
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

.v-footer .smm img {
    width: 44px;
    padding: 5px;
}

.v-footer .smm {
    padding-top: 10px;
    text-align: center;
}

.v-footer .policy {
    text-align: center;
    color: #eee!important;
    font-size: 80%;
}

.v-footer .logofooter {
    padding: 10px;
    box-sizing: border-box;
}















/*font sizing */

.small {
    font-size: 0.7em;
}

.orangeflat {
    background-color: transparent!important;
}

.orangeflat div, .orangeflat i {
    color: orange!important;
}

.orangeflat:hover {
    background: #efefef!important;
}

.dotted {
    width: 100%;
    border: 1px dotted #a3a3a3;
    padding: 10px;
    margin-top: 20px;
}

.chattime {}

.chatname {
    font-size: 0.9em;
    color: #999;
}

.chattext {
    font-size: 0.9em;
}

ul.doclist {
    list-style: none
}

ul.doclist li {
    text-align: center;
    width: 192px;
    border: 1px solid #e4e4e4;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    min-height: 229px;
    margin: 5px;
    background: #eee url('/images/bgico.png');
}


ul.doclist li:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
}

ul.doclist li a {
    text-decoration: none;
}

ul.doclist .v-icon {
    color: #1976d2;
}


.el-icon-document:before {
    content: ""!important;
}

.subnav {
    width: 100%;
}

.v-toolbar__title .v-icon {
    color: orange;
}

.v-toolbar__content, .v-toolbar__extension {

    padding: 0 17px!important;
}

.controlpanel span {
    display: inline-block;
    width: 21px;
    height: 21px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ccc;
    margin: 0 5px 0 5px;
}

.controlpanel span:hover {
    background: #eee;
}

.controlpanel {
    position: relative;
    z-index: 10;
    text-align: center;
}


.avatar-uploader canvas, .avatar-uploader-button {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.avatar-uploader canvas:hover {
    border-color: #409EFF;
}



.avatar {
    width: 178px;
    height: 178px;
    display: block;
}

.item:hover .item-overlay.top {
    top: 0;
}

.item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.7);
    color: #fff;
    overflow: hidden;
    text-align: center;
    width: 100%;

    -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.item-overlay.top {
    top: 100%;
}