/* Import Vuetify styling */

$theme = {
  primary: #00bdff
  accent: #6cb3dc
  secondary: #424242
  info: #0D47A1
  warning: #ffb300
  error: #B71C1C
  success: #2E7D32
}
@require '~vuetify/src/stylus/main.styl'

.page
	@extend .fade-transition