<template>
    <div>
        <v-container bg-gray fluid>
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12 class="compact">
                        <site-search-block></site-search-block>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-container>
        <v-container fluid class="main">
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12 md4 lg3>
                        <site-sidebar active="Здравпродукт"></site-sidebar>
                    </v-flex>
                    <v-flex xs12 md8 lg9 text-xs-left>
                        <h3 class="headset">{{ newsdata.title }}</h3>
                        <v-card flat>
                            <v-toolbar dense flat class="breadcrumps">
                                <v-toolbar-title>
                                    <span v-for="(item, index) in breadcrumps" :key="index">
                                <span v-if="item.href">
                                    <nuxt-link :to="item.href">{{item.name}}
                                    </nuxt-link>
                                    <v-icon>keyboard_arrow_right
                                    </v-icon>
                                </span>
                                    <span v-else>{{item.name}}
                                </span>
                                    </span>
                                </v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                ID: {{ $route.params.news }}
                              
                                <b>{{ newsdata.date }}</b>
                                <br>
                                {{ newsdata.content }}

                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-container>
    </div>
</template>
<script>
import siteSidebar from '~/components/siteSidebar.vue';
import siteSearchBlock from '~/components/siteSearchBlock.vue';
export default {
    components: { siteSidebar, siteSearchBlock },
    data() {

        return {

            breadcrumps: [{
                    name: 'Главная',
                    href: '/'
                },
{
                    name: 'Новости',
                    href: '/news/'
                },
                {
                    name: 'Здравпродукт',
                }
            ],

            newsdata: {
                date: "22.08.18", 
                title: "Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", 
                url: "sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html",
                content: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом. Картинки по запросу Санаторий Чистый лесной воздух, минерализованная питьевая вода из артезианской скважины, уникальный природный ландшафт и близость реки - все это в сочетании с развитой лечебной базой стало отличительными особенностями здравницы."},





        }
    }
}
</script>