<template>
    <div>
        <v-container bg-gray fluid>
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12 class="compact">
                        <site-search-block></site-search-block>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-container>
        <v-container fluid class="main">
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12 md4 lg3>
                        <site-sidebar active="Здравпродукт"></site-sidebar>
                    </v-flex>
                    <v-flex xs12 md8 lg9 text-xs-left>
                        <h3 class="headset">Новости</h3>
                        <v-card flat>
                            <v-toolbar dense flat class="breadcrumps">
                                <v-toolbar-title>
                                    <span v-for="(item, index) in breadcrumps" :key="index">
                                <span v-if="item.href">
                                    <nuxt-link :to="item.href">{{item.name}}
                                    </nuxt-link>
                                    <v-icon>keyboard_arrow_right
                                    </v-icon>
                                </span>
                                    <span v-else>{{item.name}}
                                </span>
                                    </span>
                                </v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-data-iterator no-data-text="Нет данных" 
no-results-text="Данные ещё не загружены, подождите..." :items="newsdata" :loading="'primary'" :pagination.sync="pagination" content-tag="v-layout" hide-actions row wrap>
                                    <v-flex slot="item" slot-scope="props" xs12>
                                        <v-layout row wrap>
                                            <v-flex xs12 sm3 text-xs-center text-sm-left>
                                                <v-img :src="'/news/images/thumbs/'+props.item.image" aspect-ratio="1.7"></v-img>
                                            </v-flex>
                                            <v-flex xs12 sm9 text-xs-center text-sm-left class="news_block">
                                                <h3><nuxt-link :to="props.item.url">{{props.item.title}}</nuxt-link></h3>
                                                <b>{{props.item.date}}</b>
                                                <p>{{props.item.anonce}}</p>
                                                <v-btn nuxt :to="props.item.url" depressed class="more">Подробнее <v-icon right dark>keyboard_arrow_right</v-icon>
                                                </v-btn>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>
                                </v-data-iterator> 
                                <div class="text-xs-center pt-2">
                                    <v-pagination v-model="pagination.page" color="#68b436" :length="pages"></v-pagination>
                                </div>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-container>
    </div>
</template>
<script>
import siteSidebar from '~/components/siteSidebar.vue';
import siteSearchBlock from '~/components/siteSearchBlock.vue';
export default {
    components: { siteSidebar, siteSearchBlock },
    data() {

        return {
            playerVars: {
                rel: 0,
                controls: 0
            },
            breadcrumps: [{
                    name: 'Главная',
                    href: '/'
                },

                {
                    name: 'Здравпродукт',
                }
            ],
            pagination: {
                rowsPerPage: 10
            },
            newsdata: [
                { date: "22.08.18", title: "1Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "2Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "3Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "4Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "5Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "6Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "7Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "8Санаторий Белый камень - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "9Санаторий Белый камень - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "10Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "11Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "12Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "13Санаторий Белый камень - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "14Санаторий Белый камень - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "15Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "16Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "17Санаторий Белый камень  - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "18Санаторий Белый камень - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" },
                { date: "22.08.18", title: "19Санаторий Белый камень - воздух и минеральная вода на страже Вашего здоровья!", anonce: "Санаторий Белый камень это уникальный уральский курорт, который расположен на скалистом берегу реки Пышмы, покрытом вечнозеленым сосновым лесом.", url: "/company/news/sanatoriy-beliy-kamen-vozduh-i-mineralnaya-voda.html", image: "pic.jpg" }


            ]

        }
    },

    methods: {
        orderasobject() {


            this.$root.$emit('popup', { name: 'object' })

        }


    },
    computed: {
        pages() {
            if (this.pagination.rowsPerPage == null ||
                this.pagination.totalItems == null
            ) return 0

            return Math.ceil(this.pagination.totalItems / this.pagination.rowsPerPage)
        }
    }
}
</script>