
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");


/**
Dashboard UI
 */

@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import 'dashboard/dashboard';
@import 'layout';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Actions

.line-height-1{
  line-height: 1;
}

.card:hover .card-actions{
  opacity: 1;
}

.card-actions{
  opacity: 0;
  transition: .3s ease-in-out;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px 10px;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  font-size: 12px;
  & a{
    color: #fff;
    margin-left: 8px;
    &:first-child{
      margin-left: 0;
    }
    &:hover{
      color: lighten($primary, 20%);
    }
  }
}

.btn-unstyled{
  border: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  color: inherit;
  padding: 0;
  margin: 0;

  &:hover{
    color: lighten($primary, 20%);
  }
}

.link-normal {
  color: $body-color;
  &:hover{
    color: $primary;
  }
}