<template>
    <div>
        <v-container fluid>
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12 class="compact">
                        <site-search-block></site-search-block>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-container>
        <v-container fluid class="main">
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12 md4 lg>
                        <site-sidebar active="Спецпредложения"></site-sidebar>
                    </v-flex>
                    <v-flex xs12 md8 lg9 text-xs-left>
                        <h3 class="headset">Стоматологический тур</h3>
                        <v-card flat>
                            <v-toolbar dense flat class="breadcrumps">
                                <v-toolbar-title>
                                    <span v-for="(item, index) in breadcrumps" :key="index">
                                <span v-if="item.href">
                                    <nuxt-link :to="item.href">{{item.name}}
                                    </nuxt-link>
                                    <v-icon>keyboard_arrow_right
                                    </v-icon>
                                </span>
                                    <span v-else>{{item.name}}
                                </span>
                                    </span>
                                </v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                
                                <v-img src="/images/sales/dental.jpg" contain></v-img>
                                <h3>За красивой улыбкой – к морю!</h3>
                                <v-layout row wrap>
                                    <v-flex xs12 sm6>
                                        <ul>
                                            <li>Одна из лучших клиник России</li>
                                            <li>Передовые технологии</li>
                                            <li>Династия стоматологов с 1959 года</li>
                                        </ul>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <ul>
                                            <li>Наслаждайтесь Черным морем</li>
                                            <li>Отправьтесь на экскурсию в горы Красной Поляны</li>
                                            <li>Посетите лучшее казино в России</li>
                                        </ul>
                                    </v-flex>
                                </v-layout>
                                <h4>Получите настоящий первоклассный сервис!</h4>
                                <p>Просто доверьтесь профессионалам медицинского туризма и расслабьтесь.<br>
                                    Красивая улыбка и отличное настроение гарантированы!</p>
                                <h4>.. И ГЛАВНОЕ!</h4>
                                <p><b>Полный пакет СТОМАТОЛОГИЧЕСКОГО ОБСЛУЖИВАНИЯ под ключ!</b></p>
                                <ul>
                                    <li>Лечение кариеса, прямая реставрация зубов - одна поверхность – от 99 $</li>
                                    <li>Лечение корневых каналов - один корневой канал от 99 $</li>
                                    <li>Удаление зубов мудрости - от 199 $</li>
                                    <li>Лазерное лечение десен - от 99 $ за сегмент</li>
                                    <li>Airflow - от 49 $ одна челюсть</li>
                                    <li>Протезирование (Металлокерамика) - от 299 $</li>
                                    <li>Протезирование (Цирконий) - от 499 $</li>
                                    <li>Все виды съёмных протезов - от 599 $</li>
                                    <li>Имплантация 699 $</li>
                                    <li>Наращивание кости - от 299 $</li>
                                    <li>Синус-лифтинг - от 599 $</li>
                                    <li>Мульти-дисциплинарный подход - от 1 $</li>
                                    <li>Виниры - от 599 $</li>
                                    <li>Лечение пардонтоза - от 199 $ за сегмент</li>
                                </ul>
                                <p>Для точного расчёта стоимости от Вас потребуются лишь фотография Вашей улыбки, компьютерная томмограмма, ортопантомограмма (ОПТГ).</p>
                                <v-btn depressed color="success" @click="orderit">Забронировать</v-btn>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-container>
    </div>
</template>
<script>
import siteSidebar from '~/components/siteSidebar.vue';
import siteSearchBlock from '~/components/siteSearchBlock.vue';
export default {
    components: { siteSidebar, siteSearchBlock },
    data() {

        return {
            playerVars: {
                rel: 0,
                controls: 0
            },
            breadcrumps: [{
                    name: 'Главная',
                    href: '/'
                },

                {
                    name: 'Спецпредложения',
                }
            ]
        }
    },

    methods: {
        orderit() {


            this.$root.$emit('popup',{mode:'order'})

        }


    }
}
</script>