<template>
    <v-container grid-list-md text-xs-left class="main">
        <v-layout row wrap>
            <v-flex xs12 sm4 md3 class="sidebar">
                <cp-object-sidebar />
            </v-flex>
            <v-flex xs12 sm8 md9>
                <v-card flat>
                    <v-toolbar dense flat class="breadcrumps">
                        <v-toolbar-title>
                            <span v-for="(item, index) in breadcrumps" :key="index">
                                <span v-if="item.href">
                                    <nuxt-link :to="item.href">{{item.name}}
                                    </nuxt-link>
                                    <v-icon>keyboard_arrow_right
                                    </v-icon>
                                </span>
                                <span v-else>{{item.name}}
                                </span>
                            </span>
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <el-upload class="imagelist" multiple action="/" list-type="picture" :on-change="handleImageChange" :on-preview="handlePictureCardPreview" :on-remove="handleRemove" :auto-upload="false" :file-list="gallery.images.value" accept="image/*">
                            <el-button size="small" type="primary">Добавить изображения
                                    <i class="el-icon-upload el-icon-right"></i>
                                </el-button>
                        </el-upload>
                        <el-dialog :visible.sync="dialogVisible">
                            <el-row>
                                <el-col :span="8"><img width="100%" :src="dialogImageUrl" id="dialogImageEl" alt=""></el-col>
                                <el-col :span="1">&nbsp;</el-col>
                                <el-col :span="15">
                                    <v-text-field label="Название изображения" required v-model="dialogImageName"></v-text-field>
                                    <v-text-field label="Ширина, пикселей" disabled v-model="dialogImageWidth"></v-text-field>
                                    <v-text-field label="Высота, пикселей" disabled v-model="dialogImageHeight"></v-text-field>
                                    <v-text-field label="Размер" disabled v-model="dialogImageSize"></v-text-field>
                                </el-col>
                            </el-row>
                            <span slot="footer" class="dialog-footer">
                                <el-button type="primary" @click="saveImageName(dialogImageUid)">Сохранить</el-button>
                            </span>
                        </el-dialog>
                        <el-button type="primary" @click="isSaving=true;onSubmit()" :loading="isSaving" v-show="gallery.images.value.length">Сохранить</el-button>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
import cpObjectSidebar from '~/components/cpObjectSidebar.vue'
export default {
    components: { cpObjectSidebar },
    middleware: ['auth'],

    data() {

        return {
            breadcrumps: [{
                    name: 'Личный кабинет',
                    href: '/lk/profile'
                },
                {
                    name: 'Галерея'
                }
            ],

            gallery: {
                images: { name: 'Изображения из галлереи', type: 'file', value: [] },

            },

            isSaving: false,
            dialogImageUrl: '',
            dialogImageName: '',
            dialogVisible: false,
            dialogImageUid: '',
            dialogImageSize: 0,
            dialogImageWidth: 0,
            dialogImageHeight: 0
        }
    },

    methods: {
        async onSubmit() {
        
          

            try {
                const reqdata = await this.$axios.$post(process.env.API_ENDPOINT + '/api/gallery/add', { gallery: this.gallery })
                this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'success', infotext: 'Данные успешно сохранены' })
            } catch ({ response }) {
                if(typeof(response)!='undefined'){
                var error = JSON.parse(response.request.response);
                var message = '';
                Object.keys(error.errors).map(function(objectKey, index) {
                    message = message + ' ' + error.errors[objectKey][0];
                });
                this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: message })
            } else this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: 'Сервер временно недоступен' })
            }

            this.isSaving = false
     
        },
        handleImageChange(file, fileList) {

            let reader = new FileReader();
            reader.readAsDataURL(file.raw);
        
            var _this = this;
            var _fname = 'Описание';
            var _fsize = file.size;
            var _id = file.uid;
            reader.onload = function() {
                _this.gallery.images.value.push({ uid: _id, name: _fname, size: _fsize ,url: reader.result });
            };

        },
        handleRemove(file, fileList) {
            var index, len;
            for (index = 0, len = this.gallery.images.value.length; index < len; index++) {
                if (this.gallery.images.value[index].uid == file.uid) {
                    this.gallery.images.value.splice(index, 1);
                    break;
                }
            }

        },
        handlePictureCardPreview(file) {
            this.dialogImageUid = file.uid;
            this.dialogImageUrl = file.url;
            this.dialogImageSize = (file.size / 1024 / 1024).toPrecision(3) + ' MB';

            var img = new Image();
            var _this = this;
            img.onload = function() {
                _this.dialogImageWidth = this.width;
                _this.dialogImageHeight = this.height;
            }
            img.src = file.url;

            var index, len;
            for (index = 0, len = this.gallery.images.value.length; index < len; index++) {
                if (this.gallery.images.value[index].uid == file.uid) {
                    this.dialogImageName = this.gallery.images.value[index].name;
                    break;
                }
            }
            this.dialogVisible = true;
        },

        saveImageName(uid) {
            var index, len;
            for (index = 0, len = this.gallery.images.value.length; index < len; index++) {
                if (this.gallery.images.value[index].uid == uid) {
                    this.gallery.images.value[index].name = this.dialogImageName;
                    break;
                }
            }
            this.dialogVisible = false;
        }


    }
}
</script>