<template>
    <v-container grid-list-md text-xs-left class="main">
        <v-layout row wrap>
            <v-flex xs12 sm4 md3 class="sidebar">
                <cp-object-sidebar />
            </v-flex>
            <v-flex xs12 sm8 md9>
                <v-card flat>
                    <v-toolbar dense flat class="breadcrumps">
                        <v-toolbar-title>
                            <span v-for="(item, index) in breadcrumps" :key="index">
                                <span v-if="item.href">
                                    <nuxt-link :to="item.href">{{item.name}}
                                    </nuxt-link>
                                    <v-icon>keyboard_arrow_right
                                    </v-icon>
                                </span>
                            <span v-else>{{item.name}}
                                </span>
                            </span>
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <el-form label-width="160px">
                            <label>Описание организации</label>
                            <wysiwyg v-model="infoform.description.value" placeholder="Краткое описание особенностей деятельности вашего объекта">
                            </wysiwyg>
                            <el-upload action="/" list-type="picture" :on-change="handleImageChange" :on-preview="handlePictureCardPreview" :on-remove="handleRemove" :auto-upload="false" :file-list="infoform.honour.value" accept="image/*">
                                <el-button size="small" type="primary">Добавить фото награды
                                    <i class="el-icon-upload el-icon-right"></i>
                                </el-button>
                            </el-upload>
                            <el-dialog :visible.sync="dialogVisible">
                                <el-row>
                                    <el-col :span="8"><img width="100%" :src="dialogImageUrl" id="dialogImageEl" alt=""></el-col>
                                        <el-col :span="1">&nbsp;</el-col>
                                        <el-col :span="15">
                                            <v-text-field label="Название изображения" required v-model="dialogImageName"></v-text-field>
                                            <v-text-field label="Ширина, пикселей" disabled v-model="dialogImageWidth"></v-text-field>
                                            <v-text-field label="Высота, пикселей" disabled v-model="dialogImageHeight"></v-text-field>
                                            <v-text-field label="Размер" disabled v-model="dialogImageSize"></v-text-field>
                                        </el-col>
                                </el-row>
                                <span slot="footer" class="dialog-footer">
                                    <el-button type="primary" @click="saveImageName(dialogImageUid)">Сохранить</el-button>
                                </span>
                            </el-dialog>
                            <br>
                            <br>
                            <el-form-item label="Звёздность">
                                <el-rate v-model="infoform.stars.value">
                                </el-rate>
                            </el-form-item>
                            <label>Условия оплаты</label>
                            <wysiwyg v-model="infoform.paymentconditions.value" placeholder="Условия оплаты пребывания на вашем объекте">
                            </wysiwyg>
                            <label>Список необходимых документов</label>
                            <wysiwyg v-model="infoform.documentslist.value" placeholder="Перечень необходимых документов для пребывания на вашем объекте">
                            </wysiwyg>
                            <label>Противопоказания</label>
                            <wysiwyg v-model="infoform.contraindications.value" placeholder="Противопоказания для группы лиц нерекомендуемых для пребывания на вашем объекте">
                            </wysiwyg>
                            <v-combobox v-model="infoform.medprofile.value" :items="this.$store.state.medprofile" label="Ваш медицинский профиль:" multiple chips>
                            </v-combobox>
                            <v-combobox v-model="infoform.medmethods.value" :items="this.$store.state.medmethods" label="Методы лечения:" multiple chips>
                            </v-combobox>
                            <v-combobox v-model="infoform.solutions.value" :items="this.$store.state.solutions" label="Услуги:" multiple chips>
                            </v-combobox>
                            <el-button type="primary" @click="isSaving=true;onSubmit()" :loading="isSaving">Сохранить</el-button>
                        </el-form>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
import cpObjectSidebar from '~/components/cpObjectSidebar.vue'
import axios from 'axios'

export default {

    components: {
        cpObjectSidebar
    },
    middleware: ['auth'],
    data() {
        return {

            breadcrumps: [{
                    name: 'Личный кабинет',
                    href: '/lk/profile'
                },
                {
                    name: 'Общая информация'
                }
            ],
            infoform: {
                description: { name: 'Описание организации', type: 'string', value: '', moderate: false },
                honour: { name: 'Награды', type: 'file', value: [], moderate: false },
                stars: { name: 'Количество звёзд', type: 'string', value: 0, status: true, moderate: false },
                paymentconditions: { name: 'Условия оплаты пребывания на вашем объекте', type: 'string', value: '', moderate: false },
                documentslist: { name: 'Перечень необходимых документов для пребывания на вашем объекте', type: 'string', value: '', moderate: false },
                contraindications: { name: 'Противопоказания для группы лиц нерекомендуемых для пребывания на вашем объекте', type: 'string', value: '', moderate: false },
                medprofile: { name: 'Медицинский профиль', type: 'array', value: [], moderate: false },
                medmethods: { name: 'Методы лечения', type: 'array', value: [], moderate: false },
                solutions: { name: 'Услуги', type: 'array', value: [], moderate: false }
            },
            isSaving: false,
            dialogImageUrl: '',
            dialogImageName: '',
            dialogVisible: false,
            dialogImageUid: '',
            dialogImageSize: 0,
            dialogImageWidth: 0,
            dialogImageHeight: 0
        }
    },
    mounted: function() {

        try {
            const resdata = this.$axios.$get(process.env.API_ENDPOINT + '/api/objinfo/infoform')
            console.log(resdata)
           // this.infoform = resdata.data;
            
        } catch ({ response }) {
            if (typeof(response) != 'undefined') {
                var error = JSON.parse(response.request.response);
                var message = '';
                Object.keys(error.errors).map(function(objectKey, index) {
                    message = message + ' ' + error.errors[objectKey][0];
                });
                this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: message })
            } else this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: 'Сервер временно недоступен' })
        }

    },
    methods: {
        async onSubmit() {


            try {
                const reqdata = await this.$axios.$post(process.env.API_ENDPOINT + '/api/objinfo/', { infoform: this.infoform })
                this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'success', infotext: 'Данные успешно сохранены' })
            } catch ({ response }) {
                if (typeof(response) != 'undefined') {
                    var error = JSON.parse(response.request.response);
                    var message = '';
                    Object.keys(error.errors).map(function(objectKey, index) {
                        message = message + ' ' + error.errors[objectKey][0];
                    });
                    this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: message })
                } else this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: 'Сервер временно недоступен' })
            }

            this.isSaving = false

        },


        handleImageChange(file, fileList) {

            let reader = new FileReader();
            reader.readAsDataURL(file.raw);
            var _this = this;
            var _fname = 'Описание';
            var _fsize = file.size;
            var _id = file.uid;
            reader.onload = function() {
                _this.infoform.honour.value.push({ uid: _id, name: _fname, size: _fsize, url: reader.result });
            };
        },
        handleRemove(file, fileList) {
            var index, len;
            for (index = 0, len = this.infoform.honour.value.length; index < len; index++) {
                if (this.infoform.honour.value[index].uid == file.uid) {
                    this.infoform.honour.value.splice(index, 1);
                    break;
                }
            }

        },
        handlePictureCardPreview(file) {

            this.dialogImageUid = file.uid;
            this.dialogImageUrl = file.url;

            this.dialogImageSize = (file.size / 1024 / 1024).toPrecision(3) + ' MB';

            var img = new Image();
            var _this = this;
            img.onload = function() {
                _this.dialogImageWidth = this.width;
                _this.dialogImageHeight = this.height;
            }
            img.src = file.url;

            var index, len;
            for (index = 0, len = this.infoform.honour.value.length; index < len; index++) {
                if (this.infoform.honour.value[index].uid == file.uid) {
                    this.dialogImageName = this.infoform.honour.value[index].name;
                    break;
                }
            }
            this.dialogVisible = true;
        },

        saveImageName(uid) {
            var index, len;
            for (index = 0, len = this.infoform.honour.value.length; index < len; index++) {
                if (this.infoform.honour.value[index].uid == uid) {
                    this.infoform.honour.value[index].name = this.dialogImageName;
                    break;
                }
            }
            this.dialogVisible = false;
        }


    }
}
</script>