<template>

	    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
           
            <v-flex xs4>
                <v-card>
                    <v-card-text>
                        
       <v-list>
          <template v-for="(item, index) in items">
            <v-divider
              v-if="item.divider"
              :inset="item.inset"
              :key="index"
            ></v-divider>

            <v-list-tile
              v-else
              :key="item.title"
              avatar
              @click="item.href"
            >
                <v-list-tile-content>
                <v-list-tile-title>{{item.title}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
                </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs8>
                <v-card>
                    <v-card-text>
                        
                    </v-card-text>
                </v-card>
            </v-flex>

          </v-layout>

<v-layout row wrap>
<v-flex xs12>
 <v-card>
  <template>



  <v-form v-model="valid">

<v-layout row wrap>
<v-flex xs6>
    <v-text-field
      v-model="name"

      :counter="10"
      label="Имя"
      required
    ></v-text-field>
    <v-text-field
      v-model="email"

      label="E-mail"
      required
    ></v-text-field>
</v-flex>
<v-flex xs6>
    <v-text-field
      v-model="surename"

      :counter="10"
      label="Фамилия"
      required
    ></v-text-field>
        <v-select
          :items="['Foo', 'Bar', 'Fizz', 'Buzz']"
          label="Выберите категорию"
        ></v-select>

</v-flex>
<v-flex xs12>
  <v-textarea
      name="faq_form_question"
      box
      label="Ваш вопрос"
      auto-grow
 
    ></v-textarea>
</v-flex>
<v-flex xs12>

 <v-btn>Задать вопрос</v-btn>
 </v-flex>
</v-layout>

  </v-form>
</template>
</v-card>

</v-flex>
</v-layout>




        </v-container>
</template>

<script>

export default {
    data () {
      return {
items: [

        {
          href: '#',
          title: 'Бронирование и аннулирование',
         
        },
           {
          href: '#',
          title: 'Лечение',
        
        },
        { divider: true, inset: true },
        {
          href: '#',
          title: 'Прочее',
       
        }
      ]
    }}}

</script>