<template>
    <v-app>
        <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
                <v-flex xs12>

  <nuxt/>


</v-flex>
</v-layout>
</v-container>
</v-app>
</template>