<template>
    <v-app id="inspire" >
        <v-navigation-drawer :clipped="$vuetify.breakpoint.lgAndUp" v-model="drawer" app fixed dark>
            <v-list dense>
                <template v-for="item in items">
                    <v-layout v-if="item.heading" :key="item.heading" row align-center>
                        <v-flex xs6>
                            <v-subheader v-if="item.heading">
                                {{ item.heading }}
                            </v-subheader>
                        </v-flex>
                        <v-flex xs6 class="text-xs-center">
                            <a href="#!" class="body-2 black--text">EDIT</a>
                        </v-flex>
                    </v-layout>
                    <v-list-group v-else-if="item.children" v-model="item.model" :key="item.text" :prepend-icon="item.icon" :append-icon="item.model ? 'keyboard_arrow_up' : 'keyboard_arrow_down'">
                        <v-list-tile slot="activator">
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{ item.text }}
                                </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                        <v-list-tile v-for="(child, i) in item.children" :key="i">
                            <v-list-tile-action v-if="child.icon">
                                <v-icon>{{ child.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{ child.text }}
                                </v-list-tile-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list-group>
                    <v-list-tile v-else :key="item.text">
                        <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>
                                {{ item.text }}
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" app fixed flat dark>
            <v-toolbar-title>
                <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                <span class="hidden-sm-and-down">Здравпродукт</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon>
                <v-icon>notifications</v-icon>
            </v-btn>
            <v-btn icon large>
                Выход
            </v-btn>
        </v-toolbar>
        <v-content >
            <v-container fluid fill-height >
                <v-layout justify-center align-center>
                  
                       <nuxt>
                    </nuxt>
                  
                   
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>
<script>
export default {

    data: () => ({

        drawer: null,
        items: [

            {
                icon: 'home',
                text: 'Статус',

            },
            {
                icon: 'person',
                'icon-alt': 'keyboard_arrow_down',
                text: 'Пользователи',
                model: false,
                children: [
                    { text: 'Просмотр' },
                    { text: 'Добавить' }

                ]
            },
            {
                icon: 'add_location',
                'icon-alt': 'keyboard_arrow_down',
                text: 'География',
                model: false,
                children: [
                    { text: 'Регионы' }

                ]
            },
            {
                icon: 'hotel',
                'icon-alt': 'keyboard_arrow_down',
                text: 'Объекты',
                model: false,
                children: [
                    { text: 'Просмотр' },
                    { text: 'Добавить' },
                    { text: 'Квоты' },
                    { text: 'Награды' },
                    { text: 'Разделы услуг' },
                    { text: 'Услуги' }
                ]
            },
            {
                icon: 'dehaze',
                'icon-alt': 'keyboard_arrow_down',
                text: 'Страницы',
                model: false,
                children: [
                    { text: 'Просмотр' },
                    { text: 'Добавить' },
                    { text: '/sssdd.html'}
                ]
            },
            {
                icon: 'new_releases',
                'icon-alt': 'keyboard_arrow_down',
                text: 'Новости',
                model: false,
                children: [
                    { text: 'Просмотр' },
                    { text: 'Добавить' }
                ]
            },
            {
                icon: 'question_answer',
                'icon-alt': 'keyboard_arrow_down',
                text: 'Вопросы и ответы',
                model: false,
                children: [
                    { text: 'Просмотр записей' },
                    { text: 'Добавить запись' },
                    { text: 'Просмотр разделов' },
                    { text: 'Добавить раздел' }
                ]
            },
            {
                icon: 'image',
                'icon-alt': 'keyboard_arrow_down',
                text: 'Банеры',
                model: false,
                children: [
                    { text: 'Просмотр' },
                    { text: 'Добавить' }
                ]
            },
            {
                icon: 'add_to_queue',
                'icon-alt': 'keyboard_arrow_down',
                text: 'Мед профили',
                model: false,
                children: [
                    { text: 'Просмотр' },
                    { text: 'Добавить' },
                    { text: 'Список заболеваний' },
                    { text: 'Список лечебных процедур' }
                ]
            },
            {
                icon: 'settings',
                text: 'Настройки',

            },
            {
                icon: 'schedule',
                text: 'Лог активности',

            }

        ]
    }),
    props: {
        source: String
    }
}
</script>