<template>
    <v-app light>
        <v-container grid-list-md text-xs-left fluid class="header green">
            <v-container grid-list-md>
                <v-layout row wrap align-center justify-center fill-height>
                    <v-flex xs4 sm2 md2 class="logobox">
                        <nuxt-link to="/">
                            <img src="/images/logo.svg">

                        </nuxt-link>
                    </v-flex>
                    <v-flex xs5 sm4 md2 lg4>
                        <v-list>
                            <v-list-tile @click="geocity = true">
                                <v-list-tile-action>
                                    <v-icon>place
                                    </v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Город
                                    </v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile nuxt to="/lk/profile/">
                                <v-list-tile-action>
                                    <v-icon>person
                                    </v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title @click.prevent="signin = true" v-if="this.$auth.$state.loggedIn == false">Вход в личный кабинет</v-list-tile-title>
                                    <v-list-tile-title nuxt to="/" @click.prevent="oauthLogout" v-else>Выход</v-list-tile-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                    </v-flex>
                    <v-flex xs12 sm3 md4 lg2 class="smm" text-xs-center hidden-xs-only>
                        <v-btn @click="ordernow = true" class="orderit">Заказать предложение
                        </v-btn>
                    </v-flex>
                    <v-flex xs3 sm3 text-xs-center text-sm-right hidden-md-and-up>
                        <!-- BOTTOM SHEET -->
                        <v-bottom-sheet v-model="menusheet">
                            <v-btn fab slot="activator" flat depressed color="#fff">
                                <v-icon>menu</v-icon>
                            </v-btn>
                            <v-container grid-list-md>
                                <v-layout row wrap align-center justify-center fill-height class="green header bottomheader">
                                    <v-flex xs6 sm12 text-xs-center hidden-sm-and-up>
                                        <v-btn @click="ordernow = true" class="orderit">Заказать предложение
                                        </v-btn>
                                    </v-flex>
                                    <v-flex xs6 sm3 text-xs-center>
                                        <v-btn nuxt to="/" class="orderit" @click="qwho = true">Вы санаторий? </v-btn>
                                    </v-flex>
                                    <v-flex xs4 sm3 text-xs-center>
                                        <ul class="social">
                                            <li>
                                                <a target="_blank" href="https://vk.com/thehealingplace"><i class="fa fa-vk fa-lg" aria-hidden="true"></i></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="https://www.facebook.com/healthy.places.ko/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="https://www.instagram.com/celebnie_mesta/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </v-flex>
                                    <v-flex xs4 sm3 text-xs-center>
                                        <el-switch style="display: block" v-model="changefont" active-color="#569426" inactive-color="#569426" active-text="A+" inactive-text="A">
                                        </el-switch>
                                    </v-flex>
                                    <v-flex xs4 sm3 text-xs-center>
                                        <v-speed-dial v-model="lang" :direction="'top'" :open-on-hover="false" :transition="'slide-y-reverse-transition'">
                                            <v-btn slot="activator" v-model="lang" :ripple="false" small flat fab depressed class="defab" active-class="defab" exact-active-class="defab">
                                                <img src="/images/flags/rudn.svg" class="aclan">
                                                <v-icon>close</v-icon>
                                            </v-btn>
                                            <v-btn fab small><img src="/images/flags/ru.svg" class="ddlan"></v-btn>
                                                <v-btn fab small><img src="/images/flags/en.svg" class="ddlan"></v-btn>
                                        </v-speed-dial>
                                        <v-speed-dial v-model="currency" :direction="'top'" :open-on-hover="false" :transition="'slide-y-reverse-transition'">
                                            <v-btn slot="activator" v-model="currency" :ripple="false" small flat fab depressed class="defab" active-class="defab" exact-active-class="defab">
                                                <img src="/images/flags/rubdn.svg" class="aclan">
                                                <v-icon>close</v-icon>
                                            </v-btn>
                                            <v-btn fab small>
                                                <i class="fa fa-rub" aria-hidden="true"></i>
                                            </v-btn>
                                            <v-btn fab small>
                                                <i class="fa fa-usd" aria-hidden="true"></i>
                                            </v-btn>
                                        </v-speed-dial>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-bottom-sheet>
                        <!-- BOTTOM SHEET -->
                    </v-flex>
                    <v-flex xs12 sm4 md2 lg2 text-xs-center hidden-sm-and-down>
                        <div class="socmode">
                            <!-- <nuxt-link to="#" @click.prevent="qwho = true">Вы санаторий?</nuxt-link> -->
                            <v-btn nuxt flat depressed to="/" :ripple="false" class="orderitnonbtn" @click="qwho = true">Вы санаторий? </v-btn>
                            <ul class="social">
                                <li>
                                    <a target="_blank" href="https://vk.com/thehealingplace"><i class="fa fa-vk fa-lg" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/healthy.places.ko/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.instagram.com/celebnie_mesta/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </v-flex>
                    <v-flex xs12 sm4 md2 lg2 text-xs-center hidden-sm-and-down>
                        <div class="optmode">
                            <el-switch style="display: block" v-model="changefont" active-color="#569426" inactive-color="#569426" active-text="A+" inactive-text="A">
                            </el-switch>
                            <v-divider></v-divider>
                            <v-speed-dial v-model="lang" :direction="'bottom'" :open-on-hover="false" :transition="'slide-y-reverse-transition'">
                                <v-btn slot="activator" v-model="lang" :ripple="false" small flat fab depressed class="defab" active-class="defab" exact-active-class="defab">
                                    <img src="/images/flags/rudn.svg" class="aclan">
                                    <v-icon>close</v-icon>
                                </v-btn>
                                <v-btn fab small>
                                    <img src="/images/flags/ru.svg" class="ddlan">
                            </v-btn>
                                    <v-btn fab small>
                                        <img src="/images/flags/en.svg" class="ddlan">
                            </v-btn>
                            </v-speed-dial>
                            <div class="verticalhr"></div>
                            <v-speed-dial v-model="currency" :direction="'bottom'" :open-on-hover="false" :transition="'slide-y-reverse-transition'">
                                <v-btn slot="activator" v-model="currency" :ripple="false" small flat fab depressed class="defab" active-class="defab" exact-active-class="defab">
                                    <img src="/images/flags/rubdn.svg" class="aclan">
                                    <v-icon>close</v-icon>
                                </v-btn>
                                <v-btn fab small>
                                    <i class="fa fa-rub" aria-hidden="true"></i>
                                </v-btn>
                                <v-btn fab small>
                                    <i class="fa fa-usd" aria-hidden="true"></i>
                                </v-btn>
                            </v-speed-dial>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-container>
        <v-dialog v-model="signin" width="700">
            <v-flex xs12>
                <v-card>
                    <v-toolbar flat>
                        <v-toolbar-title>Вход в личный кабинет</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon dark @click.native="signin = false">
                            <v-icon>close</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-card-text>
                        <v-form>
                            <v-text-field prepend-icon="person" name="login" v-model="user.username" label="Ваш email" type="text"></v-text-field>
                            <v-text-field v-model="user.password" prepend-icon="lock" :append-icon="showpass ? 'visibility_off' : 'visibility'" :type="showpass ? 'text' : 'password'" label="Ваш пароль" @click:append="showpass = !showpass"></v-text-field>
                            <v-layout row wrap>
                                <v-flex xs6>
                                    <v-checkbox value="1" label="Запомнить меня" data-vv-name="checkbox" type="checkbox" required></v-checkbox>
                                </v-flex>
                                <v-flex xs6>
                                    <nuxt-link to="#" class="blocklink text-xs-right" @click.native="signin = false;restore = true;">Я забыл пароль</nuxt-link>
                                    <nuxt-link to="#" class="blocklink text-xs-right" @click.native="signin = false;register = true;">У меня еще нет кабинета</nuxt-link>
                                </v-flex>
                            </v-layout>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <!-- <v-btn flat depressed @click="signin = false">У меня еще нет кабинета</v-btn> -->
                        <v-btn color="secondary" @click="passwordGrantLogin">Войти</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-dialog>
        <v-dialog v-model="restore" width="700">
            <v-flex xs12>
                <v-card>
                    <v-toolbar flat>
                        <v-toolbar-title>Восстановление пароля</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon dark @click.native="restore = false">
                            <v-icon>close</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-card-text>
                        <v-form>
                            <v-text-field prepend-icon="person" name="login" v-model="user.username" label="Ваш email" type="text"></v-text-field>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn flat depressed @click="restore = false">Отмена</v-btn>
                        <v-btn color="secondary">Продолжить</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-dialog>
        <v-dialog v-model="register" width="700">
            <v-flex xs12>
                <v-toolbar flat>
                    <v-toolbar-title>Регистрация личного кабинета</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon dark @click.native="register = false;e1 = 1;">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-stepper v-model="e1">
                    <v-stepper-header>
                        <v-stepper-step :complete="e1 > 1" step="1">Регистрация</v-stepper-step>
                        <v-divider></v-divider>
                        <v-stepper-step :complete="e1 > 2" step="2">Дополнительная информация</v-stepper-step>
                        <v-divider></v-divider>
                        <v-stepper-step step="3">Завершение</v-stepper-step>
                    </v-stepper-header>
                    <v-stepper-items>
                        <v-stepper-content step="1">
                            <v-card>
                                <v-form>
                                    <v-text-field prepend-icon="person" name="login" :rules="emailRules" required v-model="reg.username" label="Ваш email" type="text"></v-text-field>
                                    <v-text-field v-model="reg.password" prepend-icon="lock" :counter="8" :rules="passwordRules" required :type="'password'" label="Ваш пароль"></v-text-field>
                                    <v-text-field v-model="reg.passworddup" prepend-icon="lock" :counter="8" :rules="passwordDupRules" required :type="'password'" label="Повторите Ваш пароль"></v-text-field>
                                </v-form>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn flat depressed @click="register = false">Отмена</v-btn>
                                    <v-btn color="secondary" @click="e1 = 2">Далее</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-stepper-content>
                        <v-stepper-content step="2">
                            <v-card>
                                <v-form>
                                    <v-layout row wrap>
                                        <v-flex xs6 sm4>
                                            <v-text-field prepend-icon="person" v-model="reg.surename" label="Фамилия" :rules="textRules" required type="text">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs6 sm4>
                                            <v-text-field v-model="reg.firstname" label="Имя" :rules="textRules" required type="text">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs6 sm4>
                                            <v-text-field v-model="reg.lastname" label="Отчество" :rules="textRules" required type="text">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs6 sm12>
                                            <v-text-field prepend-icon="phone" v-model="reg.phone" mask="+7(###)###-##-##" label="Ваш телефон" type="text">
                                            </v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-form>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn flat depressed @click="e1 = 1">Назад</v-btn>
                                    <v-btn color="secondary" @click="e1 = 3">Далее</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-stepper-content>
                        <v-stepper-content step="3">
                            <v-card>
                                <v-layout row wrap>
                                    <v-flex xs12 text-xs-center>
                                        <v-icon size="60" color="#68b436">verified_user</v-icon>
                                        <br>
                                        Регистрация почти завершена! Осталось только проверить почтовый ящик {{reg.username}}
                                    </v-flex>
                                </v-layout>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="secondary" @click="register = false;e1 = 1;signin=1;">Завершить</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-stepper-content>
                    </v-stepper-items>
                </v-stepper>
            </v-flex>
        </v-dialog>
        <v-container grid-list-md text-xs-center fluid>
            <nuxt></nuxt>
        </v-container>
        <v-dialog v-model="qfordoctor" width="500">
            <v-flex xs12>
                <v-card>
                    <v-toolbar flat>
                        <v-toolbar-title>Доктор Здоровкин на связи</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon dark @click.native="qfordoctor = false">
                            <v-icon>close</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-card-text>
                        <v-form>
                            <v-text-field prepend-icon="person" name="login" label="Текст" type="text"></v-text-field>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn flat @click="qfordoctor = false">
                            Отмена
                        </v-btn>
                        <v-btn color="primary" @click="qfordoctor = false">Продолжить</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-dialog>
        <v-dialog v-model="qwho" width="500">
            <v-flex xs12>
                <v-card>
                    <v-toolbar flat>
                        <v-toolbar-title>Регистрация объекта</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-btn icon dark @click.native="qwho = false">
                            <v-icon>close</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-card-text>
                        <v-form>
                            <v-text-field prepend-icon="person" name="login" label="Текст" type="text"></v-text-field>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn flat @click="qwho = false">
                            Отмена
                        </v-btn>
                        <v-btn color="secondary" @click="qwho = false">Продолжить</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-dialog>
        <v-dialog v-model="geocity" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>
                    Где вы находитесь
                </v-card-title>
                <v-card-text>
                    <v-text-field name="geocity" label="Город" id="testing">
                    </v-text-field>
                    <v-progress-linear indeterminate>
                    </v-progress-linear>
                </v-card-text>
                <v-divider>
                </v-divider>
                <v-card-actions>
                    <v-spacer>
                    </v-spacer>
                    <v-btn flat @click="geocity = false">
                        Отмена
                    </v-btn>
                    <v-btn color="primary" flat @click="geocity = false">
                        Подтвердить
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="ordernow" max-width="600">
            <v-card>
                <v-toolbar flat>
                    <v-toolbar-title>Заказать предложение</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon dark @click.native="ordernow = false">
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-card-text>
                    <v-container fluid v-if="this.$auth.$state.loggedIn == false">
                        <v-layout row wrap>
                            <v-flex xs6 sm4>
                                <v-text-field prepend-icon="person" v-model="request.surename" label="Фамилия" type="text">
                                </v-text-field>
                            </v-flex>
                            <v-flex xs6 sm4>
                                <v-text-field v-model="request.firstname" label="Имя" type="text">
                                </v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                                <v-text-field v-model="request.lastname" label="Отчество" type="text">
                                </v-text-field>
                            </v-flex>
                            <v-flex xs6>
                                <v-text-field prepend-icon="phone" v-model="request.phone" mask="+7(###)###-##-##" label="Ваш телефон" type="text">
                                </v-text-field>
                            </v-flex>
                            <v-flex xs6>
                                <v-text-field prepend-icon="email" v-model="request.email" label="Ваш e-mail" type="text">
                                </v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <v-text-field prepend-icon="description" v-model="request.description" label="Ваши пожелания" type="text">
                    </v-text-field>
                    <v-container fluid v-if="this.$auth.$state.loggedIn == false">
                        <v-layout row wrap align-center>
                            <v-flex xs1>
                                <v-checkbox label="" v-model="request.agree"></v-checkbox>
                            </v-flex>
                            <v-flex xs11 class="text-small">
                                Я согласен с <nuxt-link to="#">Условиями обслуживания</nuxt-link> и <nuxt-link to="#">Политикой обработки персональных данных</nuxt-link>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
                <v-divider>
                </v-divider>
                <v-card-actions>
                    <v-spacer>
                    </v-spacer>
                    <v-btn flat @click="ordernow = false">
                        Отмена
                    </v-btn>
                    <v-btn color="secondary" @click="ordernow = false" :disabled="!(request.agree || this.$auth.$state.loggedIn === true)">
                        Отправить
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-footer>
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12 sm2 class="logofooter">
                        <img src="/images/smalllogo.svg">
                    </v-flex>
                        <v-flex xs12 sm8 class="footernav">
                            <a @click.stop="signin = true">Личный кабинет
            </a>
                            <nuxt-link to="/faq">Вопросы и ответы
                            </nuxt-link>
                            <a @click="qfordoctor = true">Вопрос доктору
            </a>
                            <nuxt-link to="/company/about.html">О проекте
                            </nuxt-link>
                            <a @click="qwho = true">Вы санаторий?
            </a>
                        </v-flex>
                        <v-flex xs12 sm2 class="smm">
                            <ul class="socialbottom">
                                <li>
                                    <a target="_blank" href="https://vk.com/thehealingplace"><i class="fa fa-vk fa-lg" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/healthy.places.ko/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.instagram.com/celebnie_mesta/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </v-flex>
                        <v-flex xs12 class="policy">
                            <div>Мы используем файлы cookie, чтобы обеспечить наилучшую работу сайта
                            </div>
                            <div>
                                <nuxt-link to="/">Политика организации в отношении обработки персональных данных</nuxt-link>
                            </div>
                        </v-flex>
                </v-layout>
            </v-container>
        </v-footer>
        <v-snackbar v-model="infobar" :color="infocolor" multi-line :timeout="6000" top>
            {{ infotext }}
            <v-btn dark fab flat @click="infobar = false">
                <v-icon>close</v-icon>
            </v-btn>
        </v-snackbar>
    </v-app>
</template>
<script>
export default {
    //middleware : ['routes'],
    head: {

    },

    data() {
        return {
            infobar: false,
            infocolor: 'success',
            infotext: '',
            e1: 0,
            request: {
                surename: '',
                firstname: '',
                lastname: '',
                phone: '+7(',
                email: '',
                description: '',
                agree: true
            },
            register: false,
            restore: false,
            menusheet: false,
            lang: false,
            showpass: false,
            currency: false,
            changefont: false,
            ordernow: false,
            fixed: false,
            drawer: null,
            signin: false,
            saveme: false,
            geocity: false,
            qwho: false,
            qfordoctor: false,
            states: [],

            invalidreg: false,
            textRules: [
                v => !!v || 'Это обязательное поле'

            ],
            passwordRules: [
                v => !!v || 'Введите пароль',
                v => v.length >= 8 || 'Пароль должен быть не менее 8 символов'
            ],
            passwordDupRules: [
                v => !!v || 'Повторите пароль',
                v => v.length >= 8 || 'Пароль должен быть не менее 8 символов',
                v => v == this.reg.password || 'Пароли должны совпадать'
            ],
            emailRules: [
                v => !!v || 'Требуется ввести свой E-mail ',
                v => /.+@.+/.test(v) || 'E-mail должен быть существующим'
            ],


            reg: {
                username: '',
                password: '',
                passworddup: '',
                surename: '',
                firstname: '',
                lastname: '',
                phone: '+7(',
            },
            user: {
                username: "admin@admin.com",
                password: "admin"
            }
        }
    },
    methods: {
        async oauthLogout() {
            await this.$auth.logout();
        },
        async passwordGrantLogin() {
            this.signin = false;

            try {

                await this.$auth.loginWith("password_grant", {
                    data: {
                        grant_type: "password",
                        client_id: process.env.PASSPORT_PASSWORD_GRANT_ID,
                        client_secret: process.env.PASSPORT_PASSWORD_GRANT_SECRET,
                        scope: "*",
                        username: this.user.username,
                        password: this.user.password
                    }
                });

            } catch (e) {
                //console.log(e)
            }

            this.signin = false;
            this.$router.replace("/lk/object/info");
        },

        winGlobalControl() {
            var w = window.innerWidth;
            if (w >= 960) this.menusheet = false;
        }
    },
    mounted() {
        window.addEventListener('resize', this.winGlobalControl);

        this.$root.$on('popup', (e) => {


                if (e.mode == 'order') this.ordernow = true;
                if (e.mode == 'object') this.qwho = true;

                if (e.mode == 'snackbar') {

                    this.infocolor = e.infocolor;
                    this.infotext = e.infotext;
                    this.infobar = true;


                }



            })

    },
            props: {
                source: String
            }
        }
</script>