<template>
  <div class="container">
    <h1 v-if="error.statusCode === 404">Страница не найдена</h1>
    <h1 v-else>500 ошибка</h1>
    <nuxt-link to="/">На главную</nuxt-link>
  </div>
</template>

<script>
export default {
  props: ['error'],
  layout: 'clear' // you can set a custom layout for the error page
}
</script>