<template>
    <div class="text-xs-left">
        <v-bottom-sheet class="subnav">
            <v-list slot="activator" class="orangeflat">
                <v-list-tile avatar>
                    <v-list-tile-avatar>
                        <v-icon>help</v-icon>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>Нужна помощь</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            <v-card>
                <v-container grid-list-md>
                    <v-layout row wrap align-center justify-center fill-height>
                        <div class="dotted">
                            <v-flex xs12 v-for="(item, index) in discussion" :key="index">
                                <v-layout row wrap>
                                    <v-flex xs2>
                                        <span class="chattime">{{item.time}}</span>
                                        <span class="chatname">{{item.name}}:</span>
                                    </v-flex>
                                    <v-flex>
                                        <span class="chattext">{{item.text}}</span>
                                    </v-flex>
                                </v-layout>
                            </v-flex>
                        </div>
                        <v-flex xs12 sm8 md10>
                            <v-text-field v-model="questions" label="Ваш вопрос" required @keyup="keyUp"></v-text-field>
                        </v-flex>
                        <v-flex text-xs-center text-sm-right>
                            <v-btn color="primary" @click="sendMessage">Отправить</v-btn>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
        </v-bottom-sheet>
    </div>
</template>
<script>
export default {
    data() {
        return {
            discussion: [{
                time: '',
                name: 'Оператор',
                text: 'Здравствуйте! У Вас возникли вопросы? Задайте из нам и мы оперативно ответим на них.'
            }],
            questions: '',
            autoanswer: [
                'Спасибо за ваше обращение. Мы ответим в ближайшее время.',
                'В самое ближайшее время мы ответим Вам! Спасибо.',
                'Благодарим за внимание к нашему сайту. Мы ответим Вам скоро!'
            ],
            autoanswerpos: 0,
        }
    },
    methods: {
        sendMessage() {
            if (this.questions) {
                this.discussion.push({ time: '', name: this.$store.state.profile.name, text: this.questions });
                this.questions = '';
                this.discussion.push({ time: '', name: 'Оператор', text: this.autoanswer[this.autoanswerpos] });
                this.autoanswerpos++
                    if (this.autoanswerpos >= this.autoanswer.length) this.autoanswerpos = 0;
            }
        },
        keyUp: function(event) {
            if (event.keyCode === 13) {
                this.sendMessage();
            }

        }

    }

}
</script>