<template>
    <span class="moderate">{{moderate_text}}</span>
</template>
<script>
export default {
	 
    data() {
        return {
        	moderate_text : 'На модерации'
        }
    }
}
</script>