// Компонент боковой навигации личного кабинета объекта

<template>
<div> 
  <v-container grid-list-md text-xs-center>

<v-card flat><v-list two-line>
<v-list-tile avatar>
<v-list-tile-avatar><v-avatar :size="60"><img :src="profile.avatar"></v-avatar>
</v-list-tile-avatar>
<v-list-tile-content>
<v-list-tile-title>  <v-tooltip bottom> <span slot="activator">{{profile.name}}</span><span>{{profile.name}}</span></v-tooltip> </v-list-tile-title>
<v-list-tile-sub-title><v-tooltip bottom><span slot="activator">{{profile.company}}</span><span>{{profile.company}}</span></v-tooltip> </v-list-tile-sub-title>

</v-list-tile-content>
</v-list-tile>
</v-list>
<v-btn nuxt color="primary" depressed to="/lk/profile/">Мой профиль</v-btn>
<v-btn  nuxt to="/" depressed  @click="oauthLogout">Выход</v-btn>

</v-card>
  </v-container>
<v-list class="sidebarnav">
<span v-for="(item, index) in sections" :key="index">       
<v-divider v-if="item.divider" :inset="item.inset" :key="index"></v-divider>
<v-list-tile v-else :key="item.title" avatar nuxt :to="item.href">
<v-list-tile-avatar>
<v-icon>{{ item.icon }}</v-icon>
</v-list-tile-avatar>
<v-list-tile-content>
<v-list-tile-title>{{item.title}}</v-list-tile-title>
</v-list-tile-content>
</v-list-tile>
</span>
</v-list>
<cpHasQuestions></cpHasQuestions>

</div>
</template>

<script>
import cpHasQuestions from '~/components/cpHasQuestions.vue'
export default {

  components: {
    cpHasQuestions
  },

 methods: {
  async oauthLogout() {
     await this.$auth.logout();
      }
  },

  mounted(){
    this.profile.avatar = ((this.$auth.$state.user.success.avatar_url === null) ? '/images/avatar.svg' : '/profiles/avatars/'+this.$auth.$state.user.success.avatar_url );
    
  //  this.profile.name = ((this.$auth.$state.user.success.last_name === null)?'':this.$auth.$state.user.success.last_name) +' ' + ((this.$auth.$state.user.success.name === null)?'':this.$auth.$state.user.success.name) + ' '+((this.$auth.$state.user.success.father_name === null)?'':this.$auth.$state.user.success.father_name)+' ';


    this.$bus.$on('updateavatar', (data)  => { 
     this.profile.avatar = data;
   })



       this.$bus.$on('updateprofile', (data)  => { 
      
     this.profile.name = data.surename.value + ' ' + data.name.value  + ' ' +data.fathername.value ;
   })

},
data () { 
  return {
    profile : {
        name : ((this.$auth.$state.user.success.last_name === null)?'':this.$auth.$state.user.success.last_name) +' ' + ((this.$auth.$state.user.success.name === null)?'':this.$auth.$state.user.success.name) + ' '+((this.$auth.$state.user.success.father_name === null)?'':this.$auth.$state.user.success.father_name)+' ',
        company : 'Название объекта',
        avatar : '/images/avatar.svg'
    },
    sections: [
        {
          href: '/lk/object/info',
          title: 'Информация',
          icon: 'info',
        },
           {
          href: '/lk/object/quota',
          title: 'Квоты',
          icon: 'stars',
        },
        {
          href: '/lk/object/gallery',
          title: 'Галерея',
          icon: 'collections',
         },
        {
          href: '/lk/object/doctors',
          title: 'Врачи',
          icon: 'person_pin',
         },
        {
          href: '/lk/object/anketa',
          title: 'Анкета',
          icon: 'insert_drive_file',
         }
      ]}}
}
</script>