// Компонент боковой навигации слева
<template>
    <v-container>
        <v-list class="sidebarnav">
            <v-list-group v-for="(item,index) in items" v-model="item.active" :key="index" :prepend-icon="item.action" no-action>
                <v-list-tile slot="activator">
                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-for="(subItem, subindex) in item.items" :key="subindex" :to="subItem.href" nuxt>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
                    </v-list-tile-content>
                    <v-list-tile-action>
                        <v-icon>{{ subItem.action }}</v-icon>
                    </v-list-tile-action>
                </v-list-tile>
            </v-list-group>
        </v-list>
       


        <cpHasQuestions></cpHasQuestions>

        <v-layout row wrap>
  <v-flex xs12>
    <nuxt-link to="/sales/dental.html">
    <iframe width="250" height="360" src="http://client.zdravproduct.com/static/tur/tur.html" frameborder="0"></iframe>
  </nuxt-link>
  </v-flex>
</v-layout>
    </v-container>
</template>
<script>
import cpHasQuestions from '~/components/cpHasQuestions.vue'
export default {

    components: {
        cpHasQuestions
    },
    props: ['active'],
    methods: {

    },
    data() {
        return {

            items: [{
                    action: 'info',
                    title: 'Здравпродукт',
                    active: (this.active == 'Здравпродукт') ? true : false,
                    items: [
                        { title: 'О проекте', href: '/company/about.html' },
                        { title: 'Новости', href: '/company/news/' },
                    ]
                },
                {
                    action: 'new_releases',
                    title: 'Спецпредложения',
                    active: (this.active == 'Спецпредложения') ? true : false,
                    items: [
                        { title: 'Стоматологический тур', href: '/sales/dental.html' },

                    ]
                }

            ]
        }
    }
}
</script>