<template>
    <v-layout row wrap>
        <v-flex xs12>
            <v-card flat class="searchbar">
                <v-card-text>
                    <v-autocomplete box label="Введите название заболевания, процедуры или курорта" persistent-hintflat hide-no-data hide-selected :append-icon="null" cache-items
:loading="true"
    
                    >
                    </v-autocomplete>
                    <v-expand-transition>
                       <!-- <v-list style="position:relative;z-index: 90">
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Contents</v-list-tile-title>
                                    <v-list-tile-sub-title>Contents</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Contents</v-list-tile-title>
                                    <v-list-tile-sub-title>Contents</v-list-tile-sub-title>
                                </v-list-tile-content>
                            </v-list-tile>
                        </v-list>
                        //-->
                    </v-expand-transition>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>