<template>
    <v-container grid-list-md text-xs-left class="main">
        <v-layout row wrap>
            <v-flex xs12 sm4 md3 class="sidebar">
                <cp-object-sidebar />
            </v-flex>
            <v-flex xs12 sm8 md9>
                <v-card flat>
                    <v-toolbar dense flat class="breadcrumps">
                        <v-toolbar-title>
                            <span v-for="(item, index) in breadcrumps" :key="index">
                                <span v-if="item.href">
                                    <nuxt-link :to="item.href">{{item.name}}
                                    </nuxt-link>
                                    <v-icon>keyboard_arrow_right
                                    </v-icon>
                                </span>
                            <span v-else>{{item.name}}
                                </span>
                            </span>
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <el-form label-width="120px">
                            <h3>Общие характеристики</h3>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field label="Всего мест" mask="#######" required v-model="formconditions.placecount.value"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field label="Всего номеров" mask="#######" required v-model="formconditions.roomscount.value"></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-text-field label="Категории номеров и их площадь" v-model="formconditions.roomcategory.value">
                            </v-text-field>
                            <h3>Характеристики жилой части номера</h3>
                            <v-combobox :items="this.$store.state.roomtools" label="Оснащение" multiple chips v-model="formconditions.roomtools.value"></v-combobox>
                            <v-text-field label="Освещение номера" required v-model="formconditions.lightstype.value"></v-text-field>
                            <el-upload class="imagelist" action="/" list-type="picture" :on-change="handleImageChange" :on-preview="handlePictureCardPreview" :on-remove="handleRemove" :auto-upload="false" :file-list="formconditions.uploadsplan.value" accept="image/*">
                                <el-button size="small" type="primary">Добавить планировку
                                    <i class="el-icon-upload el-icon-right"></i>
                                </el-button>
                            </el-upload>
                            <el-dialog :visible.sync="dialogVisible">
                                <el-row>
                                    <el-col :span="8"><img width="100%" :src="dialogImageUrl" id="dialogImageEl" alt=""></el-col>
                                        <el-col :span="1">&nbsp;</el-col>
                                        <el-col :span="15">
                                            <v-text-field label="Название изображения" required v-model="dialogImageName"></v-text-field>
                                            <v-text-field label="Ширина, пикселей" disabled v-model="dialogImageWidth"></v-text-field>
                                            <v-text-field label="Высота, пикселей" disabled v-model="dialogImageHeight"></v-text-field>
                                            <v-text-field label="Размер" disabled v-model="dialogImageSize"></v-text-field>
                                        </el-col>
                                </el-row>
                                <span slot="footer" class="dialog-footer">
                                 <v-btn depressed color="primary" to="/lk/object/anketa/">Назад</v-btn><el-button type="primary" @click="saveImageName(dialogImageUid)">Сохранить</el-button>
                            </span>
                            </el-dialog>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-checkbox label="Наличие номеров для инвалидов" v-model="formconditions.disabledmanrooms.value"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm6 v-show="formconditions.disabledmanrooms.value">
                                    <v-text-field label="Количество:" mask="#######" required v-model="formconditions.disroomcount.value"></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-combobox v-model="formconditions.bedtools.value" :items="this.$store.state.bedtools" label="Оборудование спальных мест" multiple chips></v-combobox>
                            <v-text-field label="Покрытие на полу и в номерах" required v-model="formconditions.covertype.value"></v-text-field>
                            <h3>Характеристики санузлов</h3>
                            <v-combobox :items="this.$store.state.bathtools" label="Оснащение санузла" multiple chips v-model="formconditions.bathtools.value"> </v-combobox>
                            <label>Площадь</label>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field label="от:" mask="######" required v-model="formconditions.squareto.value"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field label="до:" mask="######" required v-model="formconditions.squarefrom.value"></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-text-field label="Тип туалетной бумаги" required v-model="formconditions.papertype.value"></v-text-field>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-checkbox label="Наличие наборов гостеприимства" v-model="formconditions.complimentary.value"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm6 v-show="formconditions.complimentary.value">
                                    <v-text-field label="Cостав:" required v-model="formconditions.content.value"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 v-show="formconditions.complimentary.value">
                                    <v-checkbox label="Ограничения или условия по предоставлению наборов гостеприимства" v-model="formconditions.complimentarylimits.value"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm6 v-show="formconditions.complimentarylimits.value&&formconditions.complimentary.value">
                                    <v-text-field label="Какие" required v-model="formconditions.limitstype.value"></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-btn depressed nuxt to="/lk/object/anketa/">Назад</v-btn>
                            <v-btn color="primary" depressed @click="isSaving=true;onSubmit()" :loading="isSaving">Сохранить</v-btn>
                        </el-form>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
import cpObjectSidebar from '~/components/cpObjectSidebar.vue'
export default {
    components: { cpObjectSidebar },
    middleware: ['auth'],
    data() {

        return {

            breadcrumps: [{
                    name: 'Личный кабинет',
                    href: '/lk/profile'
                },
                {
                    name: 'Анкеты',
                    href: '/lk/object/anketa'
                },
                {
                    name: 'Питание, услуги сервиса, условия оплата',
                }
            ],
            formconditions: {
                placecount: { name: 'Всего мест', type: 'string', value: '' },
                roomscount: { name: 'Всего номеров', type: 'string', value: '' },
                roomcategory: { name: 'Категории номеров и их площадь', type: 'string', value: '' },
                roomtools: { name: 'Оснащение', type: 'array', value: [] },
                lightstype: { name: 'Освещение номера', type: 'string', value: '' },
                uploadsplan: { name: 'Планы номеров', type: 'file', value: [] },
                covertype: { name: 'Покрытие на полу и в номерах', type: 'string', value: "" },
                disabledmanrooms: { name: 'Наличие номеров для инвалидов', type: 'bool', value: false },
                disroomcount: { name: 'Количество', type: 'string', value: '' },
                bedtools: { name: 'Оборудование спальных мест', type: 'array', value: [] },
                bathtools: { name: 'Оснащение санузла', type: 'array', value: [] },
                squareto: { name: 'от', type: 'string', value: '' },
                squarefrom: { name: 'до', type: 'string', value: '' },
                papertype: { name: 'Тип туалетной бумаги', type: 'string', value: '' },
                complimentary: { name: 'Наличие наборов гостеприимства', type: 'bool', value: false },
                content: { name: 'Cостав', type: 'string', value: '' },
                complimentarylimits: { name: 'Ограничения или условия по предоставлению наборов гостеприимства', type: 'bool', value: false },
                limitstype: { name: 'Какие', type: 'string', value: '' }
            },
            isSaving: false,
            dialogImageUrl: '',
            dialogImageName: '',
            dialogVisible: false,
            dialogImageUid: '',
            dialogImageSize: 0,
            dialogImageWidth: 0,
            dialogImageHeight: 0,


        }
    },

    methods: {

        async onSubmit() {
            try {
                const reqdata = await this.$axios.$post(process.env.LARAVEL_ENDPOINT + '/api/form', { formconditions: this.formconditions })
                this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'success', infotext: 'Данные успешно сохранены' })
            } catch ({ response }) {
                if (typeof(response) != 'undefined') {
                    var error = JSON.parse(response.request.response);
                    var message = '';
                    Object.keys(error.errors).map(function(objectKey, index) {
                        message = message + ' ' + error.errors[objectKey][0];
                    });
                    this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: message })
                } else this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: 'Сервер временно недоступен' })
            }
            this.isSaving = false
        },
        handleImageChange(file, fileList) {

            let reader = new FileReader();
            reader.readAsDataURL(file.raw);

            var _this = this;
            var _fname = 'Описание';
            var _fsize = file.size;
            var _id = file.uid;
            reader.onload = function() {
                _this.formconditions.uploadsplan.value.push({ uid: _id, name: _fname, size: _fsize, url: reader.result });
            };

        },
        handleRemove(file, fileList) {
            var index, len;
            for (index = 0, len = this.formconditions.uploadsplan.value.length; index < len; index++) {
                if (this.formconditions.uploadsplan.value[index].uid == file.uid) {
                    this.formconditions.uploadsplan.value.splice(index, 1);
                    break;
                }
            }

        },
        handlePictureCardPreview(file) {
            this.dialogImageUid = file.uid;
            this.dialogImageUrl = file.url;

            this.dialogImageSize = (file.size / 1024 / 1024).toPrecision(3) + ' MB';

            var img = new Image();
            var _this = this;
            img.onload = function() {
                _this.dialogImageWidth = this.width;
                _this.dialogImageHeight = this.height;
            }
            img.src = file.url;

            var index, len;
            for (index = 0, len = this.formconditions.uploadsplan.value.length; index < len; index++) {
                if (this.formconditions.uploadsplan.value[index].uid == file.uid) {
                    this.dialogImageName = this.formconditions.uploadsplan.value[index].name;
                    break;
                }
            }
            this.dialogVisible = true;
        },

        saveImageName(uid) {
            var index, len;
            for (index = 0, len = this.formconditions.uploadsplan.value.length; index < len; index++) {
                if (this.formconditions.uploadsplan.value[index].uid == uid) {
                    this.formconditions.uploadsplan.value[index].name = this.dialogImageName;
                    break;
                }
            }
            this.dialogVisible = false;
        }

    }
}
</script>