<template>
    <v-container grid-list-md text-xs-left class="main"> 
        <v-layout row wrap>
            <v-flex xs12 sm4 md3 class="sidebar">
                <cp-object-sidebar />
            </v-flex>
            <v-flex xs12 sm8 md9>
                <v-card flat>
                    <v-toolbar dense flat class="breadcrumps">
                        <v-toolbar-title>
                            <span v-for="(item, index) in breadcrumps" :key="index">
                                <span v-if="item.href">
                                    <nuxt-link :to="item.href">{{item.name}}
                                    </nuxt-link>
                                    <v-icon>keyboard_arrow_right
                                    </v-icon>
                                </span>
                                <span v-else>{{item.name}}
                                </span>
                            </span>
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <h3>Питание</h3>
                        <v-combobox :items="this.$store.state.foodtype" label="Питание" multiple chips v-model="horecaform.foodtype.value"></v-combobox>
                        <v-text-field label="Шеф повар (ФИО)" required v-model="horecaform.cheefname.value"></v-text-field>
                        <v-text-field label="Его регалии и звания" required v-model="horecaform.cheefranks.value" v-show="horecaform.cheefname.value.length"></v-text-field>
                        <v-text-field v-model="horecaform.foodpoints.value" label="Кол-во и виды точек питания на территории"></v-text-field>
                        <v-text-field v-model="horecaform.foodstyle.value" label="Тип кухни"></v-text-field>
                        <v-layout row wrap>
                            <v-flex xs12 sm6>
                                <v-checkbox label="Ранний завтрак" v-model="horecaform.earlybb.value"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-checkbox label="Сухой паёк" v-model="horecaform.onlyfood.value"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-checkbox label="Есть ли указание калорийности блюд" v-model="horecaform.iscalories.value"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-checkbox label="Наличие мини-бара" v-model="horecaform.isminibar.value"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 v-show="horecaform.isminibar.value">
                                <v-text-field v-model="horecaform.complectation.value" label="Комплектация минибара"></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-checkbox label="Наличие Room service" v-model="horecaform.isroomservice.value"></v-checkbox>
                        <v-layout row wrap>
                            <v-flex xs12 v-show="horecaform.isroomservice.value">
                                <v-text-field v-model="horecaform.iscallfromroom.value" label="Номер её вызова из комнат"></v-text-field>
                            </v-flex>
                        </v-layout>
                        <h3>Спортивно-оздоровительные услуги</h3>
                        <v-combobox :items="this.$store.state.healthyservice" label="Спортивно-оздоровительные услуги" multiple chips v-model="horecaform.healthyservice.value"></v-combobox>
                        <v-text-field v-model="horecaform.healthyprograms.value" label="Перечень оздоровительных программ"></v-text-field>
                        <h3>Сервис</h3>
                        <v-combobox :items="this.$store.state.horecaservices" label="Предоставляемые услуги" multiple chips v-model="horecaform.services.value"></v-combobox>
                        <v-combobox :items="this.$store.state.wireinet" label="Доступность проводного интернета" multiple chips v-model="horecaform.wireinet.value"></v-combobox>
                        <v-combobox :items="this.$store.state.wifiinet" label="Доступность беспроводного интернета (Wifi)" multiple chips v-model="horecaform.wifiinet.value"></v-combobox>
                        <v-text-field v-model="horecaform.othernetsolutions.value" label="Перечень иных IT услуг"></v-text-field>
                        <h3>Инфраструктура</h3>
                        <v-combobox :items="this.$store.state.disabledinfra" label="Наличие инфраструктуры для инвалидов" multiple chips v-model="horecaform.isdisabledinfra.value"></v-combobox>
                        <v-layout row wrap>
                            <v-flex xs12 sm6>
                                <v-checkbox label="Парковка" v-model="horecaform.isparking.value"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm6 v-show="horecaform.isparking.value">
                                <v-text-field label="Стоимость" required v-model="horecaform.parkingprice.value"></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-checkbox label="Охрана" v-model="horecaform.issecurity.value"></v-checkbox>
                        <v-layout row wrap>
                            <v-flex xs12 sm6>
                                <v-checkbox label="Наличие магазинов на территории" v-model="horecaform.isshop.value"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm6 v-show="horecaform.isshop.value">
                                <v-text-field label="Время работы" required v-model="horecaform.scheduleshop.value"></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                            <v-flex xs12 sm6>
                                <v-checkbox label="Наличие аптеки" v-model="horecaform.isapt.value"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm6 v-show="horecaform.isapt.value">
                                <v-text-field label="Время работы" required v-model="horecaform.scheduleapt.value"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 v-show="!horecaform.isapt.value">
                                <v-text-field label="Адрес ближайшей (аптеки)" required v-model="horecaform.nearestapt.value"></v-text-field>
                            </v-flex>
                        </v-layout>
                        <h3>Дополнительные условия оплаты</h3>
                        <v-layout row wrap>
                            <v-flex xs12 sm6>
                                <v-checkbox label="Банкоматы" v-model="horecaform.isatm.value"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm6 v-show="horecaform.isatm.value">
                                <v-combobox :items="this.$store.state.atmtype" label="Каких банков" multiple chips v-model="horecaform.atmtype.value"></v-combobox>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                            <v-flex xs12 sm6>
                                <v-checkbox label="Наличие дисконтных/клубных карт" v-model="horecaform.isdiscountcard.value"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm6 v-show="horecaform.isdiscountcard.value">
                                <v-text-field label="Какие" required v-model="horecaform.discountcardtype.value"></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-text-field label="В каких партнерских программах участвует объект (банки, дисконтные системы)" required v-model="horecaform.affiliateprogs.value"></v-text-field>
                        <v-text-field label="Возможность и условия раннего заезда" required v-model="horecaform.earlyarrival.value"></v-text-field>
                        <v-text-field label="Возможность и условия позднего выезда" required v-model="horecaform.latedepart.value"></v-text-field>
                        <v-text-field label="Особые правила пребывания" required v-model="horecaform.specialrules.value"></v-text-field>
                        <v-layout row wrap>
                            <v-flex xs12 sm6>
                                <v-checkbox label="Взимается ли какая-либо комиссия с клиента при оплате путевки?" v-model="horecaform.isextrafee.value"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm6 v-show="horecaform.isextrafee.value">
                                <v-text-field label="Какая?" required v-model="horecaform.extrafeeamount.value"></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-text-field label="Какие типы карт принимаются в объекте?" required v-model="horecaform.cardsaccepted.value"></v-text-field>
                        <v-text-field label="Какие налоги включены в стоимость путевки?" required v-model="horecaform.taxincluded.value"></v-text-field>
                        <v-layout row wrap>
                            <v-flex xs12 sm6>
                                <v-checkbox label="Есть ли какие-либо дополнительные налоги, пошлины или сборы, не включенные в путевку" v-model="horecaform.istaxexluded.value"></v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm6 v-show="horecaform.istaxexluded.value">
                                <v-text-field label="Какие?" required v-model="horecaform.taxexluded.value"></v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-text-field label="Контакты основных служб" required v-model="horecaform.emergencycontacts.value"></v-text-field>
                        <v-text-field label="Координаты объекта для навигационной точки?" required v-model="horecaform.navpoints.value"></v-text-field>
                        <v-text-field label="Как добраться от ближайших вокзалов/аэропорта" required v-model="horecaform.routetodepart.value"></v-text-field>
                       
  <v-btn depressed nuxt to="/lk/object/anketa/">Назад</v-btn>
                             <v-btn color="primary" depressed @click="isSaving=true;onSubmit()" :loading="isSaving">Сохранить</v-btn>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>

               
    </v-container>
</template>
<script>
import cpObjectSidebar from '~/components/cpObjectSidebar.vue'
export default {
    components: { cpObjectSidebar },
    middleware: ['auth'],
    data() {

        return {
            breadcrumps: [{
                    name: 'Личный кабинет',
                    href: '/lk/profile'
                },
                {
                    name: 'Анкеты',
                    href: '/lk/object/anketa'
                },
                {
                    name: 'Номера и условия в них',
                }
            ],
            isSaving: false,

            horecaform: {
                'foodtype': { name: 'Питание', type: 'array', value: [] },
                'cheefname': { name: 'Шеф повар (ФИО)', type: 'string', value: '' },
                'cheefranks': { name: 'Его регалии и звания', type: 'string', value: '' },
                'foodpoints': { name: 'Кол-во и виды точек питания на территории', type: 'string', value: '' },
                'foodstyle': { name: 'Тип кухни', type: 'string', value: '' },
                'earlybb': { name: 'Ранний завтрак', type: 'bool', value: false },
                'onlyfood': { name: 'Сухой паёк', type: 'bool', value: false },
                'iscalories': { name: 'Есть ли указание калорийности блюд', type: 'bool', value: false },
                'isminibar': { name: 'Наличие мини-бара', type: 'bool', value: false },
                'complectation': { name: 'Комплектация минибара', type: 'string', value: '' },
                'isroomservice': { name: 'Наличие Room service', type: 'bool', value: false },
                'iscallfromroom': { name: 'Номер её вызова из комнат', type: 'string', value: '' },
                'healthyservice': { name: 'Спортивно-оздоровительные услуги', type: 'array', value: [] },
                'healthyprograms': { name: 'Перечень оздоровительных программ', type: 'string', value: '' },
                'services': { name: 'Предоставляемые услуги', type: 'array', value: [] },
                'wireinet': { name: 'Доступность проводного интернета', type: 'array', value: [] },
                'wifiinet': { name: 'Доступность беспроводного интернета (Wifi)', type: 'array', value: [] },
                'othernetsolutions': { name: 'Перечень иных IT услуг', type: 'string', value: '' },
                'isdisabledinfra': { name: 'Наличие инфраструктуры для инвалидов', type: 'array', value: [] },
                'isparking': { name: 'Парковка', type: 'bool', value: false },
                'parkingprice': { name: 'Стоимость парковки', type: 'string', value: '' },
                'issecurity': { name: 'Охрана', type: 'bool', value: false },
                'isshop': { name: 'Наличие магазинов на территории', type: 'bool', value: false },
                'scheduleshop': { name: 'Время работы магазинов', type: 'string', value: '' },
                'isapt': { name: 'Наличие аптеки', type: 'bool', value: false },
                'scheduleapt': { name: 'Время работы аптеки', type: 'string', value: '' },
                'nearestapt': { name: 'Адрес ближайшей (аптеки)', type: 'string', value: '' },
                'isatm': { name: 'Наличие банкомата', type: 'bool', value: false },
                'atmtype': { name: 'Название банка владельца банкомата', type: 'array', value: [] },
                'isdiscountcard': { name: 'Наличие дисконтных/клубных карт', type: 'bool', value: false },
                'discountcardtype': { name: 'Тип дисконтных/клубных карт', type: 'string', value: '' },
                'affiliateprogs': { name: 'В каких партнерских программах участвует объект (банки, дисконтные системы)', type: 'string', value: '' },
                'earlyarrival': { name: 'Возможность и условия раннего заезда', type: 'string', value: '' },
                'latedepart': { name: 'Возможность и условия позднего выезда', type: 'string', value: '' },
                'specialrules': { name: 'Особые правила пребывания', type: 'string', value: '' },
                'isextrafee': { name: 'Взимается ли какая-либо комиссия с клиента при оплате путевки?', type: 'bool', value: false },
                'extrafeeamount': { name: 'Какая комиссия с клиента при оплате путевки?', type: 'string', value: '' },
                'cardsaccepted': { name: 'Какие типы карт принимаются в объекте?', type: 'string', value: '' },
                'taxincluded': { name: 'Какие налоги включены в стоимость путевки?', type: 'string', value: '' },
                'istaxexluded': { name: 'Есть ли какие-либо дополнительные налоги, пошлины или сборы, не включенные в путевку', type: 'bool', value: false },
                'taxexluded': { name: 'Какие дополнительные налоги, пошлины или сборы, не включенные в путевку', type: 'string', value: '' },
                'emergencycontacts': { name: 'Контакты основных служб', type: 'string', value: '' },
                'navpoints': { name: 'Координаты объекта для навигационной точки?', type: 'string', value: '' },
                'routetodepart': { name: 'Как добраться от ближайших вокзалов/аэропорта', type: 'string', value: '' }
            }
        }
    },

    methods: {

                async onSubmit() {
            try {
                const reqdata = await this.$axios.$post(process.env.LARAVEL_ENDPOINT + '/api/form', { horecaform: this.horecaform })
                            this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'success', infotext: 'Данные успешно сохранены' })
            } catch ({ response }) {
                if(typeof(response)!='undefined'){
                var error = JSON.parse(response.request.response);
                var message = '';
                Object.keys(error.errors).map(function(objectKey, index) {
                    message = message + ' ' + error.errors[objectKey][0];
                });
                this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: message })
            } else this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: 'Сервер временно недоступен' })
            }
            this.isSaving = false
        },
    }
}
</script>