<template>
    <v-container grid-list-md text-xs-left>
        <v-layout row wrap>
            <v-flex xs12 sm4 md3 class="sidebar">
                <cp-object-sidebar />
            </v-flex>
            <v-flex xs12 sm8 md9>
                <v-card flat>
                    <v-toolbar dense flat class="breadcrumps">
                        <v-toolbar-title>
                            <span v-for="(item, index) in breadcrumps" :key="index">
                                <span v-if="item.href">
                                    <nuxt-link :to="item.href">{{item.name}}
                                    </nuxt-link>
                                    <v-icon>keyboard_arrow_right
                                    </v-icon>
                                </span>
                                <span v-else>{{item.name}}
                                </span>
                            </span>
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <el-form label-width="160px">
                            <h3>Функционирование</h3>
                            <el-switch v-model="forminfra.workingdays.value" active-text="Сезонно" inactive-text="Круглый год">
                            </el-switch>
                            <v-text-field label="Период" required v-show="forminfra.workingdays.value"></v-text-field>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-combobox :items="this.$store.state.monthlist" v-model="forminfra.maxloads.value" label="Месяцы наибольшей загрузки" multiple chips></v-combobox>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-combobox :items="this.$store.state.monthlist" v-model="forminfra.minloads.value" label="Месяцы наименьшей загрузки" multiple chips></v-combobox>
                                </v-flex>
                            </v-layout>
                            <v-combobox :items="this.$store.state.monthlist" v-model="forminfra.optloads.value" label="Месяцы для наиболее эффективного прохождения курса лечения?" multiple chips></v-combobox>
                            <h3>Контингент</h3>
                            <v-layout row wrap>
                                <v-flex xs12 sm4>
                                    <v-checkbox label="Взрослые" v-model="forminfra.isadult.value"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm4>
                                    <v-checkbox label="Дети без родителей" v-model="forminfra.woadult.value"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm4>
                                    <v-checkbox label="Родители с детьми" v-model="forminfra.isfamily.value"></v-checkbox>
                                </v-flex>
                            </v-layout>
                            <h3>Территория</h3>
                            <v-text-field label="Площадь" mask="######" v-model="forminfra.areasq.value" required></v-text-field>
                            <v-text-field v-model="forminfra.pooldescription.value" label="Описание территории"></v-text-field>
                            <v-text-field v-model="forminfra.infapool.value" label="Инфраструктура на территории">
                            </v-text-field>
                            <h3>Рельеф территории</h3>
                            <v-layout row wrap>
                                <v-flex xs12 sm4>
                                    <v-checkbox label="Ровный" v-model="forminfra.isflat.value"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm4>
                                    <v-checkbox label="Холмистый" v-model="forminfra.ishilly.value"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm4>
                                    <v-checkbox label="Смешанный" v-model="forminfra.ismixed.value"></v-checkbox>
                                </v-flex>
                            </v-layout>
                            <v-text-field label="Много ли ступенек на территории? Крутые ли они?" v-model="forminfra.howmanystairs.value" required></v-text-field>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field label="Количество корпусов:" mask="######" v-model="forminfra.blockscounts.value" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field label="Их специфика:" v-model="forminfra.blocksspecs.value" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field label="Этажность корпусов:" v-model="forminfra.floorscount.value" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field label="Наличие и тип переходов:" v-model="forminfra.tunnelscount.value" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-checkbox label="Наличие лифтов" v-model="forminfra.haslift.value"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm6 v-show="forminfra.haslift.value">
                                    <v-text-field label="Типы лифтов, их расположение:" v-model="forminfra.lifttype.value" required></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-checkbox label="Наличие электрокаров для передвижения по территории" v-model="forminfra.iselectrocar.value"></v-checkbox>
                            <v-checkbox label="Наличие водоемов" v-model="forminfra.haswaterarea.value"></v-checkbox>
                            <v-layout row wrap v-show="forminfra.haswaterarea.value">
                                <v-flex xs12>
                                    <v-combobox :items="this.$store.state.water_area" v-model="forminfra.water_area.value" label="Тип водоемов" multiple chips></v-combobox>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field label="Удаленность:" v-model="forminfra.distance.value" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field label="Географическое название водоемов" v-model="forminfra.aquaname.value" required></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <label>Что есть по пути к водоему</label>
                                    <wysiwyg v-model="forminfra.waysdescription.value" placeholder="Что есть по пути к водоему">
                                    </wysiwyg>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-checkbox label="Есть ли трансфер к водоему" v-model="forminfra.hastransfertowater.value"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm6 v-show="forminfra.hastransfertowater.value">
                                    <label>На каком транспорте осуществляется, и как часто?</label>
                                    <wysiwyg v-model="forminfra.sheduletransfer.value" placeholder="На каком транспорте осуществляется, и как часто?">
                                    </wysiwyg>
                                </v-flex>
                                <v-flex xs12>
                                    <v-combobox :items="this.$store.state.solt_type" v-model="forminfra.solt_type.value" label="Соленость воды" multiple chips></v-combobox>
                                </v-flex>
                            </v-layout>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-checkbox label="Наличие пляжа" v-model="forminfra.hasbeach.value"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm6 v-show="forminfra.hasbeach.value">
                                    <v-combobox :items="this.$store.state.beach_type" v-model="forminfra.beach_type.value" label="Тип пляжа" multiple chips></v-combobox>
                                </v-flex>
                                <v-flex xs12 v-show="forminfra.hasbeach.value">
                                    <v-combobox :items="this.$store.state.access_type" v-model="forminfra.access_type.value" label="Доступность" multiple chips></v-combobox>
                                </v-flex>
                            </v-layout>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-checkbox label="Наличие развлечений" v-model="forminfra.hasanimations.value"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-checkbox label="Наличие ресторанов/баров" v-model="forminfra.hascafe.value"></v-checkbox>
                                </v-flex>
                            </v-layout>
                            <v-checkbox label="Наличие бассеина" v-model="forminfra.haspool.value"></v-checkbox>
                            <span v-show="forminfra.haspool.value">
                                <h3>Тип бассеинов</h3>
                                <v-layout row wrap>
                                    <v-flex xs12 sm6>
                                        <v-checkbox label="Крытый" v-model="forminfra.isclosedpool.value"></v-checkbox>
                                    </v-flex>
                                    <v-flex xs12 sm6 v-show="forminfra.isclosedpool.value">
                                        <v-text-field label="Количество" mask="####" v-model="forminfra.closedpoolcount.value" required></v-text-field>
                                    </v-flex>
                                </v-layout>
                                <v-layout row wrap>
                                    <v-flex xs12 sm6>
                                        <v-checkbox label="Открытый" v-model="forminfra.isopenedpool.value"></v-checkbox>
                                    </v-flex>
                                    <v-flex xs12 sm6 v-show="forminfra.isopenedpool.value">
                                        <v-text-field label="Количество" mask="####" v-model="forminfra.openedpoolcount.value" required></v-text-field>
                                    </v-flex>
                                </v-layout>
                                <v-layout row wrap>
                                    <v-flex xs12 sm6>
                                        <v-checkbox label="Детский" v-model="forminfra.iskidspool.value"></v-checkbox>
                                    </v-flex>
                                    <v-flex xs12 sm6 v-show="forminfra.iskidspool.value">
                                        <v-text-field label="Количество" mask="####" v-model="forminfra.kidspoolcount.value" required></v-text-field>
                                    </v-flex>
                                </v-layout>
                                <h3>Дополнительно</h3>
                                <v-text-field label="Оборудование" v-model="forminfra.equipment.value" required></v-text-field>
                                <label>Описание</label>
                                <wysiwyg v-model="forminfra.equipmentdescription.value" placeholder="Описание"></wysiwyg>
                                <v-layout row wrap>
                                    <v-flex xs12 sm6>
                                        <v-text-field label="Регулярная температура воды" v-model="forminfra.watertemp.value" required></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <v-text-field label="Как часто и чем очищается вода в бассейне" v-model="forminfra.watercleaner.value" required></v-text-field>
                                    </v-flex>
                                </v-layout>
                                <v-checkbox label="Наличие спасателей" v-model="forminfra.isguards.value"></v-checkbox>
                                <v-layout row wrap>
                                    <v-flex xs12 sm6>
                                        <v-checkbox label="Наличие тренажеров" v-model="forminfra.haspooltools.value"></v-checkbox>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <v-text-field label="Описание" required v-show="forminfra.pooltoolsdesc.value"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <v-checkbox label="Наличие раздевалок" v-model="forminfra.haslockerroom.value"></v-checkbox>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <v-text-field label="Описание" required v-show="forminfra.lockerroomdesc.value"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <v-checkbox label="Наличие инструкторов" v-model="forminfra.hasinstructor.value"></v-checkbox>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <v-text-field label="Описание" required v-show="forminfra.instructordesc.value"></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </span>
  <v-btn depressed nuxt to="/lk/object/anketa/">Назад</v-btn>
                             <v-btn color="primary" depressed @click="isSaving=true;onSubmit()" :loading="isSaving">Сохранить</v-btn>
                        </el-form>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>

                        
    </v-container>
</template>
<script>
import cpObjectSidebar from '~/components/cpObjectSidebar.vue'
export default {
    components: { cpObjectSidebar },
    middleware: ['auth'],

mounted: async function () {

 const reqdata = await this.$axios.$get(process.env.LARAVEL_ENDPOINT + '/api/form')

 console.log(reqdata)
},

    data() {

        return {
            breadcrumps: [{
                    name: 'Личный кабинет',
                    href: '/lk/profile'
                },
                {
                    name: 'Анкеты',
                    href: '/lk/object/anketa'
                },
                {
                    name: 'Инфраструктура',
                }
            ],
            isSaving: false,

            forminfra: {
                pooldescription: { name: 'Описание территории',  type: 'string',value: '' },
                infapool: { name: 'Инфраструктура на территории', type: 'string', value: '' },
                workingdays: { name: 'Рабочие дни', type: 'bool', value: false },
                maxloads: { name: 'Месяцы максимальной загрузки',  type: 'array',value: [] },
                minloads: { name: 'Месяцы минимальной загрузки',  type: 'array',value: [] },
                optloads: { name: 'Месяцы для наиболее эффективного прохождения курса лечения?',  type: 'array',value: [] },
                haslift: { name: 'Наличие лифтов', type: 'bool', value: false },
                haswaterarea: { name: 'Наличие водоемов',  type: 'bool',value: false },
                hastransfertowater: { name: 'Есть ли трансфер к водоему',  type: 'string',value: false },
                hasbeach: { name: 'Наличие пляжа', type: 'bool', value: false },
                hasanimations: { name: 'Наличие развлечений',  type: 'bool',value: false },
                hascafe: { name: 'Наличие ресторанов/баров',  type: 'bool',value: false },
                haspool: { name: 'Наличие бассеина', type: 'bool', value: false },
                isclosedpool: { name: 'Крытый',  type: 'bool',value: false },
                isopenedpool: { name: 'Открытый',  type: 'bool',value: false },
                iskidspool: { name: 'Детсткий', type: 'bool', value: false },
                haspooltools: { name: 'Наличие тренажеров',  type: 'bool',value: false },
                pooltoolsdesc: { name: 'Описание тренажеров', type: 'string', value: '' },
                haslockerroom: { name: 'Наличие раздевалок', type: 'bool', value: false },
                lockerroomdesc: { name: 'Описание раздевалок',  type: 'string',value: '' },
                hasinstructor: { name: 'Наличие инструкторов', type: 'bool', value: false },
                instructordesc: { name: 'Описание инструкторов', type: 'string', value: '' },
                beach_type: { name: 'Тип пляжа',  type: 'array',value: [] },
                solt_type: { name: 'Соленость воды',  type: 'array',value: [] },
                access_type: { name: 'Доступность',  type: 'array',value: [] },
                water_area: { name: 'Тип водоемов',  type: 'array',value: [] },
                isadult: { name: 'Взрослые',  type: 'bool',value: false },
                woadult: { name: 'Дети без взрослых', type: 'bool', value: false },
                isfamily: { name: 'Дети со взрослыми',  type: 'bool',value: false },
                areasq: { name: 'Площадь', type: 'string', value: '' },
                isflat: { name: 'Ровный ландшафт',  type: 'bool',value: false },
                ishilly: { name: 'Холмистый ландшафт', type: 'bool',value: false },
                ismixed: { name: 'Смешанный ландшафт',type: 'bool', value: false },
                howmanystairs: { name: 'Много ли ступенек на территории? Крутые ли они?', type: 'string',value: '' },
                blockscounts: { name: 'Количество корпусов', type: 'string',value: '' },
                blocksspecs: { name: 'Их специфика',type: 'string',value: '' },
                floorscount: { name: 'Этажность корпусов',type: 'string', value: '' },
                tunnelscount: { name: 'Наличие и тип переходов',type: 'string', value: '' },
                lifttype: { name: 'Типы лифтов, их расположение', type: 'string',value: '' },
                iselectrocar: { name: 'Наличие электрокаров для передвижения по территории',type: 'bool', value: false },
                distance: { name: 'Удаленность', type: 'string',value: '' },
                aquaname: { name: 'Географическое название водоемов', type: 'string',value: '' },
                sheduletransfer: { name: 'На каком транспорте осуществляется, и как часто?',type: 'string',value: '' },
                waysdescription: { name: 'Что есть по пути к водоему', type: 'string',value: '' },
                openedpoolcount: { name: 'Количество открытых бассеинов', type: 'string',value: '' },
                closedpoolcount: { name: 'Количество закрытых бассеинов', type: 'string',value: '' },
                kidspoolcount: { name: 'Количество детских бассеинов',type: 'string', value: '' },
                equipment: { name: 'Оборудование',type: 'string', value: '' },
                equipmentdescription: { name: 'Описание оборудования', type: 'string',value: '' },
                watertemp: { name: 'Регулярная температура воды',type: 'string', value: '' },
                watercleaner: { name: 'Как часто и чем очищается вода в бассейне', type: 'string',value: '' },
                isguards: { name: 'Наличие спасателей', type: 'bool',value: false },
            },
        }
    },

    methods: {

                     async onSubmit() {
            try {
                const reqdata = await this.$axios.$post(process.env.LARAVEL_ENDPOINT + '/api/form', { forminfra: this.forminfra })
                               this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'success', infotext: 'Данные успешно сохранены' })
            } catch ({ response }) {
                if(typeof(response)!='undefined'){
                var error = JSON.parse(response.request.response);
                var message = '';
                Object.keys(error.errors).map(function(objectKey, index) {
                    message = message + ' ' + error.errors[objectKey][0];
                });
                this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: message })
            } else this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: 'Сервер временно недоступен' })
            }
            this.isSaving = false
        },
    }
}
</script>