<template>
    <v-container grid-list-md text-xs-left class="main">
        <v-layout row wrap>
            <v-flex xs12 sm4 md3 class="sidebar">
                <cp-object-sidebar />
            </v-flex>
            <v-flex xs12 sm8 md9>
                <v-card flat>
                    <v-toolbar dense flat class="breadcrumps">
                        <v-toolbar-title>
                            <span v-for="(item, index) in breadcrumps" :key="index">
                                <span v-if="item.href">
                                    <nuxt-link :to="item.href">
                                        {{item.name}}
                                    </nuxt-link>
                                    <v-icon>keyboard_arrow_right</v-icon>
                                </span>
                                <span v-else>
                                    {{item.name}}
                                </span>
                            </span>
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <h2>Медицинские факторы</h2>
                        <el-form label-width="120px">
                            <v-combobox :items="this.$store.state.medprofile" label="Медицинские профили" multiple chips v-model="mediacalform.medprofile.value"></v-combobox>
                            <h3>Природные лечебные факторы:</h3>
                            <v-combobox :items="this.$store.state.climatfactors" label="Климатические факторы" multiple chips v-model="mediacalform.climatfactors.value"></v-combobox>
                            <h4>Вода</h4>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-combobox :items="this.$store.state.mineralwaterext" label="Типы минеральных вод для наружного применения" multiple chips v-model="mediacalform.mineralwaterext.value"></v-combobox>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-combobox :items="this.$store.state.mineralwarerint" label="Типы питьевых минеральных вод" multiple chips v-model="mediacalform.mineralwarerint.value"></v-combobox>
                                </v-flex>
                            </v-layout>
                            <v-text-field label="Химический состав воды:" required v-model="mediacalform.chemistrywater.value"></v-text-field>
                            <v-checkbox label="Наличие бювета" v-model="mediacalform.isbuvet.value"></v-checkbox>
                            <v-layout row wrap v-show="mediacalform.isbuvet.value">
                                <v-flex xs12 sm6>
                                    <v-text-field label="Тип:" required v-model="mediacalform.buvettype.value"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field label="Расположение:" required v-model="mediacalform.buvetarea.value"></v-text-field>
                                </v-flex>
                            </v-layout>
                      
                            <h4>Грязи</h4>
                            <v-combobox :items="this.$store.state.meddirts" label="Лечебная грязь" multiple chips v-model="mediacalform.meddirts.value"></v-combobox>
                            <h4>Иное</h4>
                            <v-text-field label="Другие природные факторы" required v-model="mediacalform.othersfactors.value"></v-text-field>
                            <h4>Условия</h4>
                            <v-checkbox label="Возможно ли приобретение курсовок? (курса лечения без проживания и питания)" v-model="mediacalform.isbuycourses.value"></v-checkbox>
                            <v-text-field label="Общая численность персонала:" mask="########" required v-model="mediacalform.personalover.value"></v-text-field>
                            <v-combobox :items="this.$store.state.sertspecial" label="Сертифицированные специалисты" multiple chips v-model="mediacalform.sertspecial.value"></v-combobox>
                            <v-combobox :items="this.$store.state.medtools" label="Медицинское оборудование есть в лечебном корпусе" multiple chips v-model="mediacalform.medtools.value"></v-combobox>
                            <v-text-field label="Уникальные методики и технологии" required v-model="mediacalform.technologies.value"></v-text-field>
                            <v-text-field label="Платные мед.услуги, не входящие ни в один пакет/путевку" required v-model="mediacalform.payable.value"></v-text-field>
                            <v-text-field label="Платные СПА и велнесс-услуги, не входящие ни в один пакет/путевку" required v-model="mediacalform.payablespa.value"></v-text-field>
                            <v-checkbox label="Наличие реанимации" v-model="mediacalform.isreanimation.value"></v-checkbox>
                            <v-checkbox v-model="mediacalform.hasmednear.value" label="Наличие лечебниц, расположенных рядом, либо входящих в стоимость"></v-checkbox>
                            <v-text-field label="Их описание" required v-show="mediacalform.hasmednear.value" v-model="mediacalform.hospisdecription.value"></v-text-field>
                            <v-checkbox v-model="mediacalform.hasmedoperation.value" label="Проводятся ли операции в объекте или в расположенных рядом лечебницах"></v-checkbox>
                            <v-text-field label="Их описание" required v-show="mediacalform.hasmedoperation.value" v-model="mediacalform.operdesc.value"></v-text-field>

                                  <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-checkbox label="Пригодна для питья и приготовления пищи вода в системе водопровода" v-model="mediacalform.drinkable.value"></v-checkbox>
                                </v-flex>
                                <v-flex xs12 sm6 v-show="!mediacalform.drinkable.value">
                                    <v-text-field label="Другое:" required v-model="mediacalform.others.value"></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-btn depressed nuxt to="/lk/object/anketa/">Назад</v-btn>
                             <v-btn color="primary" depressed @click="isSaving=true;onSubmit()" :loading="isSaving">Сохранить</v-btn>
                        </el-form>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
                        
    </v-container>
</template>
<script>
import cpObjectSidebar from '~/components/cpObjectSidebar.vue'
export default {
    components: { cpObjectSidebar },
middleware: ['auth'],
    data() {
        return {
            breadcrumps: [{
                    name: 'Личный кабинет',
                    href: '/lk/profile'
                },
                {
                    name: 'Анкеты',
                    href: '/lk/object/anketa'
                },
                {
                    name: 'Медицинские и лечебные факторы',
                }
            ],
            isSaving:false,
  
            mediacalform: {
               
                drinkable: {name:'Пригодна для питья и приготовления пищи вода в системе водопровода',type: 'bool',value: false},
                hasmednear: {name:'Наличие лечебниц, расположенных рядом, либо входящих в стоимость',type: 'bool',value: false},
                hasmedoperation: {name:'Проводятся ли операции в объекте или в расположенных рядом лечебница',type: 'bool',value: false},
                isbuvet: {name:'Наличие бювета',type: 'bool',value: false},
                medprofile: {name:'Медицинские профили',type: 'array',value: []},
                climatfactors: {name:'Климатические факторы',type: 'array',value: []},
                mineralwaterext: {name:'Типы минеральных вод для наружного применения',type: 'array',value: []},
                mineralwarerint: {name:'Типы питьевых минеральных вод',type: 'array',value: []},
                chemistrywater: {name:'Химический состав воды',type: 'string',value: ''},
                buvettype: {name:'Тип бювета',type: 'string',value: ''},
                buvetarea: {name:'Расположение бювета',type: 'string',value: ''},
                others: {name:'Другое (по воде)',type: 'string',value: ''},
                meddirts: {name:'Лечебная грязь',type: 'array',value: []},
                othersfactors: {name:'Другие природные факторы',type: 'string',value: ''},
                isbuycourses: {name:'Возможно ли приобретение курсовок? (курса лечения без проживания и питания)',type: 'bool',value: false},
                personalover: {name:'Общая численность персонала',type: 'string',value: ''},
                sertspecial: {name:'Сертифицированные специалисты',type: 'array',value: []},
                medtools: {name:'Медицинское оборудование есть в лечебном корпусе',type: 'array',value: []},
                technologies: {name:'Уникальные методики и технологии',type: 'string',value: ''},
                payable: {name:'Платные мед.услуги, не входящие ни в один пакет/путевку',type: 'string',value: ''},
                payablespa: {name:'Платные СПА и велнесс-услуги, не входящие ни в один пакет/путевку',type: 'string',value: ''},
                isreanimation: {name:'Наличие реанимации',type: 'bool',value: false},
                hospisdecription: {name:'Описание лечебниц',type: 'string',value: ''},
                operdesc: {name:'Описание операций',type: 'string',value: ''}
            }
        }
    },
    methods: {


                     async onSubmit() {

try {
         const reqdata = await this.$axios.$post(process.env.LARAVEL_ENDPOINT + '/api/form', { mediacalform: this.mediacalform })
                this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'success', infotext: 'Данные успешно сохранены' })
            } catch ({ response }) {
                if(typeof(response)!='undefined'){
                var error = JSON.parse(response.request.response);
                var message = '';
                Object.keys(error.errors).map(function(objectKey, index) {
                    message = message + ' ' + error.errors[objectKey][0];
                });
                this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: message })
            } else this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: 'Сервер временно недоступен' })
            }




            this.isSaving = false
        },

    }
}
</script>