<template>
    <v-container grid-list-md text-xs-left class="main"> 
        <v-layout row wrap>
            <v-flex xs12 sm4 md3 class="sidebar">
                <cp-object-sidebar />
            </v-flex>
            <v-flex xs12 sm8 md9>
                <v-card flat>
                    <v-toolbar dense flat class="breadcrumps">
                        <v-toolbar-title>
                            <span v-for="(item, index) in breadcrumps" :key="index">
                                <span v-if="item.href">
                                    <nuxt-link :to="item.href">{{item.name}}
                                    </nuxt-link>
                                    <v-icon>keyboard_arrow_right
                                    </v-icon>
                                </span>
                                <span v-else>{{item.name}}
                                </span>
                            </span>
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <el-form label-width="160px">
                            <h3>Общие характеристики</h3>
                            <v-text-field label="Название объекта на английском языке" required v-model="overallform.enname.value"></v-text-field>
                            <el-form-item label="Число звёзд">
                                <el-rate v-model="overallform.stars.value"></el-rate>
                            </el-form-item>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-menu ref="fondationdate" :close-on-content-click="false" v-model="fondationdate" :nudge-right="40" :return-value.sync="overallform.fondation.value" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                                        <v-text-field slot="activator" v-model="overallform.fondation.value" label="Год основания:" prepend-icon="event" readonly></v-text-field>
                                        <v-date-picker reactive v-model="overallform.fondation.value" type="month" locale="ru" no-title scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn flat color="primary" @click="fondationdate = false">Отменить</v-btn>
                                            <v-btn flat color="primary" @click="$refs.fondationdate.save(overallform.fondation.value)">Сохранить</v-btn>
                                        </v-date-picker>
                                    </v-menu>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-menu ref="lastfixeddate" :close-on-content-click="false" v-model="lastfixeddate" :nudge-right="40" :return-value.sync="overallform.lastfixed.value" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
                                        <v-text-field slot="activator" v-model="overallform.lastfixed.value" label="Год последней реконструкции (ремонта):" prepend-icon="event" readonly></v-text-field>
                                        <v-date-picker reactive v-model="overallform.lastfixed.value" type="month" locale="ru" no-title scrollable>
                                            <v-spacer></v-spacer>
                                            <v-btn flat color="primary" @click="lastfixeddate = false">Отменить</v-btn>
                                            <v-btn flat color="primary" @click="$refs.lastfixeddate.save(overallform.lastfixed.value)">Сохранить</v-btn>
                                        </v-date-picker>
                                    </v-menu>
                                </v-flex>
                            </v-layout>
                            <h3>Контактная информация</h3>
                            <v-text-field label="Адрес:" required v-model="overallform.adress.value"></v-text-field>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field label="Телефон:" required mask="+7(###)###-##-##" v-model="overallform.phone.value"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field label="Факс:" required mask="+7(###)###-##-##" v-model="overallform.fax.value"></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-text-field label="Мессенджеры:" required v-model="overallform.messengers.value"></v-text-field>
                            <v-layout row wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field label="Сайт:" required v-model="overallform.site.value"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field label="Эл.почта:" required v-model="overallform.email.value" :rules="[rules.email]"></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-text-field label="Главный врач (ФИО):" required v-model="overallform.doctorname.value"></v-text-field>
                            <v-text-field v-model="overallform.doctorstats.value" label="Регалии и звания врача">
                            </v-text-field>
  <v-btn depressed nuxt to="/lk/object/anketa/">Назад</v-btn>
                             <v-btn color="primary" depressed @click="isSaving=true;onSubmit()" :loading="isSaving">Сохранить</v-btn>
                        </el-form>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
                        
    </v-container>
</template>
<script>
import cpObjectSidebar from '~/components/cpObjectSidebar.vue'
export default {
    components: { cpObjectSidebar },
    middleware: ['auth'],
    data() {

        return {
            breadcrumps: [{
                    name: 'Личный кабинет',
                    href: '/lk/profile'
                },
                {
                    name: 'Анкеты',
                    href: '/lk/object/anketa'
                },
                {
                    name: 'Общая информация',
                }
            ],
            isSaving:false,

            fondationdate: false,
            lastfixeddate: false,
            overallform: {
                enname: { name: 'Название объекта на английском языке',type: 'string', value: '' },
                stars: { name: 'Число звёзд', type: 'string',value: 0 },
                adress: { name: 'Адрес', type: 'string',value: '' },
                phone: { name: 'Телефон', type: 'string',value: '+7(' },
                fax: { name: 'Факс', type: 'string',value: '+7(' },
                messengers: { name: 'Мессенджеры', type: 'string',value: '' },
                site: { name: 'Веб сайт', type: 'string',value: '' },
                email: { name: 'E-mail', type: 'string',value: '' },
                fondation: { name: 'Год основания', type: 'string',value: '' },
                lastfixed: { name: 'Год капитального ремонта', type: 'string',value: '' },
                doctorname: { name: 'Имя доктора', type: 'string',value: '' },
                doctorstats: { name: 'Регалии доктора', type: 'string',value: '' }
            },
            rules: {
                required: value => !!value || 'Required.',
                counter: value => value.length <= 20 || 'Max 20 characters',
                email: value => {
                    if (value.length > 0) {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Неверный e-mail'
                    } else return ''
                }
            }

        }
    },

    methods: {


                             async onSubmit() {
       

  try {
                const reqdata = await this.$axios.$post(process.env.LARAVEL_ENDPOINT + '/api/form', { overallform: this.overallform })
                this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'success', infotext: 'Данные успешно сохранены' })
            } catch ({ response }) {
                if(typeof(response)!='undefined'){
                var error = JSON.parse(response.request.response);
                var message = '';
                Object.keys(error.errors).map(function(objectKey, index) {
                    message = message + ' ' + error.errors[objectKey][0];
                });
                this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: message })
            } else this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: 'Сервер временно недоступен' })
            }



            this.isSaving = false
        },


    }
}
</script>