<template>

	    <v-container grid-list-md text-xs-left class="main">
        <v-layout row wrap>
           
            <v-flex xs12 sm4 md3 class="sidebar">
                        
<cp-object-sidebar />
     
            </v-flex>
            <v-flex xs12 sm8 md9>
                <v-card flat>
                       <v-toolbar dense flat class="breadcrumps">
            <v-toolbar-title>
              <span v-for="(item, index) in breadcrumps" :key="index">   
                <span v-if="item.href">
                  <nuxt-link :to="item.href">{{item.name}}
                  </nuxt-link> 
                  <v-icon>keyboard_arrow_right
                  </v-icon>
                </span>
                <span v-else>{{item.name}}
                </span>
              </span>
            </v-toolbar-title>
          </v-toolbar>
                    <v-card-text>

Функционал временно недоступен. Приносим свои извинения.

                       
                    </v-card-text>
                </v-card>
            </v-flex>

          </v-layout>






        </v-container>
</template>

<script>
import cpObjectSidebar from '~/components/cpObjectSidebar.vue'
export default {
   components: {cpObjectSidebar},
    middleware: ['auth'],
    data () {
   
      return {
      breadcrumps: [
        {
          name: 'Личный кабинет',
          href: '/lk/profile'
        },
        {
          name: 'Врачи'
        }
],

    }}}

</script>