<template>
    <v-container grid-list-md text-xs-left class="main">
        <v-layout row wrap>
            <v-flex xs12 sm4 md3 class="sidebar">
                <cp-object-sidebar />
            </v-flex>
            <v-flex xs12 sm8 md9>
                <v-card flat>
                    <v-toolbar dense flat class="breadcrumps">
                        <v-toolbar-title>
                            <span v-for="(item, index) in breadcrumps" :key="index">
                                <span v-if="item.href">
                                    <nuxt-link :to="item.href">{{item.name}}
                                    </nuxt-link>
                                    <v-icon>keyboard_arrow_right
                                    </v-icon>
                                </span>
                            <span v-else>{{item.name}}
                                </span>
                            </span>
                        </v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <el-form label-width="120px">
                            <v-layout row wrap>
                                <v-flex xs12 sm12 md4 lg3>
                                    <div class="avatar-uploader-button" @click="croppaimage.chooseFile()">
                                        <div class="item" v-if="imageConfirm || profileform.avatar.value[0].url">
                                            <img :src="profileform.avatar.value[0].url">
                                            <div class="item-overlay top"><img src="/images/plus.svg"></div>  
                                        </div>
                                            <img src="/images/plus.svg" v-else>
                                    </div>
                                </v-flex>
                                <v-flex xs12 sm12 md8 lg9>
                                    <v-layout row wrap>
                                        <v-flex xs12 sm12 md6 lg4>
                                            <v-text-field v-model="profileform.surename.value" label="Фамилия" :rules="[rules.required]" required></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm12 md6 lg4>
                                            <v-text-field v-model="profileform.name.value" label="Имя" :rules="[rules.required]" required></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm12 md12 lg4>
                                            <v-text-field v-model="profileform.fathername.value" label="Отчество" :rules="[rules.required]" required></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                    <v-text-field label="Организация" :value="this.$store.state.profile.organization" disabled></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-text-field label="Логин" :value="this.$auth.$state.user.success.email" disabled></v-text-field>
                            <v-text-field v-model="profileform.oldpassword.value" :append-icon="showoldpass ? 'visibility_off' : 'visibility'" :rules="[rules.min]" :type="showoldpass ? 'text' : 'password'" label="Текущий пароль" hint="Для создания безопасного пароля используйте буквы разного регистра и цифры" counter @click:append="showoldpass = !showoldpass"></v-text-field>
                            <v-text-field v-model="profileform.password.value" :append-icon="showpass ? 'visibility_off' : 'visibility'" :rules="[rules.min]" :type="showpass ? 'text' : 'password'" label="Новый пароль" hint="Для создания безопасного пароля используйте буквы разного регистра и цифры" counter @click:append="showpass = !showpass"></v-text-field>
                            <v-btn color="primary" depressed @click="isSaving=true;onSubmit()" :loading="isSaving">Сохранить</v-btn>
                        </el-form>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
        <v-dialog v-model="imageUploader" max-width="400">
            <v-card>
                <v-card-title class="headline">Загрузка фотографии</v-card-title>
                <v-card-text class="text-xs-center">
                    <croppa v-model="croppaimage" :show-remove-button="false" :quality="1" class="avatar-uploader" :zoom-speed="9" :prevent-white-space="true" accept="image/*" canvas-color="transparent" @new-image-drawn="handleUploadCroppedImage">
                        <img slot="placeholder" src="/images/plus.svg">
                    </croppa>
                        <div class="controlpanel" v-show="control">
                            <span @click="croppaimage.zoomIn()"><img src="/images/zoomin.svg"></span>
                            <span @click="croppaimage.rotate()"><img src="/images/rotate.svg"></span>
                            <span @click="croppaimage.zoomOut()"><img src="/images/zoomout.svg"></span>
                        </div>
                        <v-btn color="success" depressed @click="croppaimage.chooseFile()">Сменить фотографию</v-btn>
                </v-card-text>
                <v-card-actions>
                    <v-btn depressed @click="imageUploader = false">
                        <v-icon>keyboard_arrow_left</v-icon> Назад
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" depressed @click="handleConfirmCroppedImage();imageConfirm = true;imageUploader = false">
                        Сохранить
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
import cpObjectSidebar from '~/components/cpObjectSidebar.vue'

export default {
    components: {
        cpObjectSidebar
    },
    middleware: ['auth'],

    data() {
        return {
            breadcrumps: [{
                name: 'Личный кабинет'
            }],
            croppaimage: {},
            isSaving: false,


            imageUrl: '/images/avatar.svg',
            showpass: false,
            showoldpass: false,
            control: false,
            imageUploader: false,
            imageConfirm: false,
            rules: {
                required: value => !!value || 'Обязательное поле',
                min: v => (v.length >= 8 || v.length == 0) || 'Минимально 8 символов'
            },
            profileform: {
                avatar: { name: 'Аватар', type: 'file', value: [{ name: 'Аватар', url: ((this.$auth.$state.user.success.avatar_url === null) ? '/images/avatar2.svg' : '/profiles/avatars/' + this.$auth.$state.user.success.avatar_url) }] },
                surename: { name: 'Фамилия', type: 'string', value: ((this.$auth.$state.user.success.last_name === null) ? '' : this.$auth.$state.user.success.last_name) },
                name: { name: 'Имя', type: 'string', value: ((this.$auth.$state.user.success.name === null) ? '' : this.$auth.$state.user.success.name) },
                fathername: { name: 'Отчество', type: 'string', value: ((this.$auth.$state.user.success.father_name === null) ? '' : this.$auth.$state.user.success.father_name) },
                oldpassword: { name: 'Текущий пароль', type: 'string', value: '' },
                password: { name: 'Новый пароль', type: 'string', value: '' }
            },
        }
    },
    methods: {
        handleConfirmCroppedImage() {
            this.croppaimage.generateBlob((blob) => {
                var reader = new FileReader();
                reader.readAsDataURL(blob);
                var _this = this;
                var _fname = 'Аватар';
                var _id = '0';
                var _fsize = blob.size;
                reader.onload = function() {
                    _this.profileform.avatar.value = [{ uid: _id, name: _fname, size: _fsize, url: reader.result }]
                    _this.$bus.$emit('updateavatar', reader.result)
                };
            }, 'image/jpeg', 0.85)

        },
        handleUploadCroppedImage() {
          
            this.imageUploader = true
            this.control = true;
        },
        handleImageRemove() {
            this.control = false;
            var _fname = 'Аватар';
            var _id = '0';
            var _fsize = 0;
            this.profileform.avatar.value = [{ uid: _id, name: _fname, size: _fsize, url: '' }]
        },
        async onSubmit() {

            try {
                const reqdata = await this.$axios.$post(process.env.LARAVEL_ENDPOINT + '/api/profile', { profileform: this.profileform })
                this.$bus.$emit('updateprofile', this.profileform)
                this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'success', infotext: 'Данные успешно сохранены' })
            } catch ({ response }) {
                if (typeof(response) != 'undefined') {
                    var error = JSON.parse(response.request.response);
                    var message = '';
                    Object.keys(error.errors).map(function(objectKey, index) {
                        message = message + ' ' + error.errors[objectKey][0];
                    });
                    this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: message })
                } else this.$root.$emit('popup', { mode: 'snackbar', infocolor: 'error', infotext: 'Сервер временно недоступен' })
            }
            this.isSaving = false
        }
    }
}
</script>